/**
 * IMPORTS
 * 
 * SOURCES DE CONTENU
 * 
 * MACRO-STRUCTURE
 *     Zone de composition principale
 *     Pieds de page
 *     Mirroir
 *     Système de colonnes
 *
 * TYPOGRAPHIE
 *     Styles génériques
 *     Texte
 *
 * MISES EN PAGE SPÉCIFIQUES
 *     Introduction
 *     Timeline
 *     Lampiste
 *     Fleuriste
 *     Geek
 *     RTBF
 *     SPF
 *     Boss NRB
 *     Explications Médor
 *     Sentinelle SPF Interieur
 *     Sentinelle Collège Intérieur
 *     Anonymous
 *     Sentinelle PwC
 *     Electro pas Gratos
 *     Et demain
 *     Smart qui
 *     Interview Pereira
 *     Validation Wallonie
 *     Validation Bruxelles
 *     Interview PwC
 *     Conclusion
 *     Bug expliqué
 *     Ont répondu ou pas
 *     Making of
 */

/**
 * Imports
 * =======
 */

@import "assets/css/html2print.less";
@import "static/components/flex.less/flex.less";
@import "debug.less";
@import "variables.less";
@import "fonts.less";
@import "mixins.less";


/**
 * Macro-structure
 * ===============
 */

.body,
.footer {
    position: absolute;

    /*.display(flex);*/
    /*.justify-content(space-between);*/
}



/**
 * Zone de composition principale
 * ------------------------------
 */

.body {
    top: @page-margin-top;
    bottom: @page-margin-bottom + 9mm;

    .baseline-grid(@line-height);
}


/**
 * Pieds de page
 * -------------
 */

.footer { 
    bottom: @page-margin-bottom; 

    .flex-direction(row-reverse);

    font-family: "Alfphabet-IV", sans-serif;
    font-size: 6pt;
    text-transform: uppercase;
}

.footer:after { 
    display: block;
    content: " ";
    .flex(1); 
}
.footer:before { 
    display: block;
    content: " ";
    .flex(1); 
}

.footer__title { .flex(10); }

.footer__page-number { .flex(1); }


/* .footer__title:before { content: "Le jour où la Belgique a buggé"; } */

.footer__page-number:before { content: @footer-text; }



/**
 * Miroir
 * -------
 */

/**
 * Placement en miroir des éléments en fonction de si ils se trouvent sur une
 * page paire ou une page impaire, en utilisant le pseudo-sélecteur `nth-child`
 */

.paper:nth-child(odd) .body,
.paper:nth-child(odd) .footer {
    right: @page-margin-outside;
    left: @page-margin-inside;
}

.paper:nth-child(even) .body,
.paper:nth-child(even) .footer {
    left: @page-margin-outside;
    right: @page-margin-inside;
}

.paper:nth-child(odd) .footer { .flex-direction(row); }

.paper:nth-child(odd) .footer:before { margin-right: @gutter; }
.paper:nth-child(odd) .footer:after { margin-left: @gutter; }
.paper:nth-child(even) .footer:after { margin-right: @gutter; }
.paper:nth-child(even) .footer:before { margin-left: @gutter; }

.paper:nth-child(odd) .footer__title { margin-right: @gutter; }
.paper:nth-child(even) .footer__title { text-align: right; }

.paper:nth-child(even) .footer__page-number { margin-right: @gutter; }
.paper:nth-child(odd) .footer__page-number { text-align: right; }

/* 
 * Système de colonnes
 * -------------------
 */

.column {
    height: 100%;
    .flex(1);
}

.column + .column { margin-left: @gutter; }


/*
 * Système pour gérer les pages de titres de chapitres:
 * voir: http://jsfiddle.net/18Lw2bnj/3/
 * 
 * +---------------+
 * | +-----------+ |
 * | |           | | 
 * | +-----------+ |
 * | +----+ +----+ |
 * | |    | |    | | 
 * | |    | |    | | 
 * | |    | |    | | 
 * | |    | |    | | 
 * | +----+ +----+ |
 * +---------------+
 */

/* éléments parents*/
.flex {
    .display(flex);
    .align-items(stretch);
}

/*variante de parents en colonne ou en ligne*/
.flex--col { .flex-direction(column); }
.flex--row { .flex-direction(row); }

/*variante deparents centré*/
.flex--centered {  .align-items(center); }
.flex--end {  .align-items(flex-end); }

/* éléments enfants*/
.flex__item--x1 { .flex(1); }
.flex__item--x2 { .flex(2); }
.flex__item--x3 { .flex(3); }
.flex__item--x4 { .flex(4); }
.flex__item--x5 { .flex(5); }
.flex__item--x6 { .flex(6); }
.flex__item--x10 { .flex(10); }
.flex__item--x11 { .flex(11); }
.flex__item--x12 { .flex(12); }
.flex--row > .flex__item + .flex__item { margin-left: 10pt; }
.flex--col > .flex__item + .flex__item { margin-top: 10pt; }


/*
 * Typographie
 * ===========
 */

.page { text-rendering: optimizeLegibility; }



/* 
 * Styles génériques
 * -----------------
 */

body {
    font-family: "Arapey", serif;
    font-size: @font-size;
    line-height: @line-height;
}


h1,
h2,
h3 {
    -webkit-break-inside: avoid-region;
    -webkit-break-inside: avoid-region;
}

h1 { 
    margin-top: 0;
    margin-bottom: @line-height * 2;

    /*-webkit-region-break-before: always;*/

    font-family: "alfphabetbipocatcondensed";
    font-size: @font-size * 2;
    line-height: @line-height * 2;
    text-align: left;
    letter-spacing: -.02em;
    font-weight: normal;
    /*outline: 1px solid purple;*/
}

h2 {
    margin-top: @line-height;
    margin-bottom: @line-height;

    font-family: "Career", serif;
    font-weight: normal;
    font-size: @font-size;
    line-height: @line-height;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    /*outline: 1px solid purple;*/
}

    
p + p {
    text-indent: 1.25em;
}

a { 
    text-decoration: none;
    color: rgba(177, 69, 66, 255);
}

em { font-style: italic; }


ul {
    list-style-type: none;
    padding-left: 1.25em;
}

ul li { position: relative; }

ul li:before {
    content: "—";
    width: 1.25em;
    display: block;
    position: absolute;
    left: -1.25em;
}

ol {
   padding-left: 1.25em;
}

li { margin-top: 9.75pt; }



// TODO: check if necessary
pre { white-space: pre; }
code { font-family: "DOS"; }

// Pour les footnotes
hr { display: none; }

figure { text-align: center; }

img { max-width: 100%; }

pre { overflow: hidden; }

sup { line-height: 0; vertical-align: -0.1em; }


/*
 * Texte
 * -----
 */

.common {
    width: 70pt;
    height: 70pt;
    /*outline: 1px solid red;*/
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -32pt;
    top: -43pt;
    z-index: -1;
}


.chapitre {
    font-size: 36pt;
    font-family: "Career";
    line-height: 36pt;
}


.suspects {
    /*-webkit-transform-origin: top left;*/
    /*outline: 1px solid blue;*/
    /*font-family: "alfphabetbipocatcondensed";*/
    font-family: "Career", serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15pt;
    line-height: 18pt;
    text-align: center;
    /*width: 300px;*/
    /*top: 300px;*/
    /*outline: 1px solid red;*/
    white-space: nowrap;
}

.suspects div {
    -webkit-transform: rotate(-90deg);
    /*outline: 1px solid green;*/
    margin-left: -300px;
    margin-right: -300px;
}

.footnote { font-size: 7pt; }

/* choix multiple en fin de parties*/
.directions {
    background-color: white;
    -webkit-break-inside: avoid-region;
    -webkit-region-break-inside: avoid;
    break-inside: avoid-region;
    margin: 6% 12% 0% 12%;
    border: 1pt solid black;
    box-shadow: 2pt 2pt 0px black;
    padding: 0pt 4pt 4pt 4pt;
    font-family: "DOS";
    font-size: 7pt;
    line-height: 8pt;
    text-align: center;
    position: relative;
    // Astuce de voyou pour forcer webkit à afficher notre ombré
    // voir: http://stackoverflow.com/questions/6144398/rounded-corners-fail-to-cut-off-content-in-webkit-browsers-if-positionrelative
    -webkit-transform: rotate(0);   
    p {
      text-align:center;
    }
    a {
      color: @violet;
    }
}

.left:before {
    left: -20px;
    top: 50%;
    content: " ";
    position: absolute;
    width: 2em;
    height: 2em;
    background-image: url(/img/left.svg);
	background-repeat: no-repeat;
}

.right:after {
    right: -2em;
    top: 50%;
    content: " ";
    position: absolute;
    width: 2em;
    height: 2em;
    background-image: url(/img/right.svg);
	background-repeat: no-repeat;
}

.bottom:after {
    left: 0;
    bottom: -18px;
    content: " ";
    position: absolute;
    width: 100%;
    height: 2em;
    background-image: url(/img/bottom.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.top:after {
    left: 0;
    top: -16px;
    content: " ";
    position: absolute;
    width: 100%;
    height: 2em;
    background-image: url(/img/top.svg);
    background-repeat: no-repeat;
    background-position: center;
}



.interview {
       color:#1d8d7e;
   // background:-webkit-linear-gradient(#1d8d7e,#530053);
   // -webkit-background-clip:text;
   // -webkit-text-fill-color:transparent;
}

.interview .question { font-style: italic; color:black; }

.interview p { margin-bottom: 9.75pt;}


.interview p {
    text-indent: 0;
}

.full-page { width: 100% !important; }

.facts {
    outline: 3pt solid #FF0;
    outline-offset: 1.5pt;
    padding: 5pt;
    background-color: #FF0;
    padding-top: 3pt;
}

#les-acteurs,
#arme,
#la-mecanique {
    font-family: "alfphabetbipocatcondensed";
    font-size: 7.5pt;
    line-height: 9pt;
}
#les-acteurs h2 {
    margin-top: 18pt;
}

/*.facts + .facts {*/
    /*margin-top: 10pt;*/
/*}*/

.facts h1 {
    text-align: left;
}

/**
 * Mises en page spécifiques
 * =========================
 */

/*
 * Introduction
 * ------------
 */
#flow-pre { visibility: hidden; }

.cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.cover--first { background-image: url(/cover-outlines.svg); }

.cover--bleed {
    padding: 3mm;
    position: relative;
    top: -3mm;
    left: -3mm;
}


.footnote {
    font-family: "LM";
    font-size: 7pt;
    line-height: 9pt;
}

.footnote p {
    margin: 0;
}


/*
 * Timeline
 * --------
 */

#timeline {
    font-family: "alfphabetbipocatcondensed";
    font-size: 7.5pt;
    line-height: 9pt;
}

#timeline dt { float: left; }
#timeline dd { margin-left: 3em; margin-bottom: 4.5pt; }

#les-acteurs h2 {
    -webkit-region-break-before: always;
}


/**
 * Nice trick: mettre les images de double en fond de page!
 */

.cover--map { background-image: url(/img/carte/page-carte-outlines.svg); }

.cover--left { background-position: left; }
.cover--right { background-position: right; }
.cover--right { background-position: -600px; }



/*
 * Cei n'est pas Médor
 * --------
 */
#warning h1 {
    -webkit-region-break-before: avoid;
}

/*
 * Carte
 */

/* TODO: remettre danschaque partie */
#carte,
#fraude-possible,
#pwc,
#epilogue,
#itw-anonyme,
#chavez-gallant,
#itw-pereira,
#validation-bruxelles,
#making-of {
    -webkit-region-break-before: always;
}


#la-mecanique {
    -webkit-region-break-before: avoid !important;
}


/*
 * 1, 2, 3
 * -------------------
 */

#stesud h1,
#fraude-possible h1,
#pwc h1,
#etat-belge h1,
#itw-anonyme h1,
#validation-wallonie h1,
#validation-bruxelles h1,
#futur-passe h1,
#chavez-gallant h1,
#bug-explique h1,
#itw-pereira h1,
#epilogue h1 {
    position: relative;
    text-indent: 25pt;
    /*margin-left: calc(((100% / 6) + 10pt) * -1);*/
    margin-left: -(@column-size + 10pt);
}

#stesud h1:before {
    .common;
    background-image: url(/img/check/medieval.svg);
}


#fraude-possible h1:before {
    .common;
    background-image: url(/img/check/fraude.svg);
}


#pwc h1:before {
    .common;
    background-image: url(/img/check/controle-bacle.svg);
}

#etat-belge h1:before {
    .common;
    background-image: url(/img/check/imcompetance.svg);
}


#itw-anonyme h1:before {
    .common;
    background-image: url(/img/check/machine.svg);
}






/*
 * Validation Wallonie
 * -------------------
 */
/*#validation-wallonie .tranches { */
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
/*}*/
/* FIXME: override une règle plus haut */
/*h1 { -webkit-region-break-after: avoid; }*/

#validation-wallonie h1:before {
    .common;
    background-image: url(/img/check/parlement.svg);
}

/*
 * Validation Bruxelles
 * --------------------
 */

#validation-bruxelles h1:before {
    .common;
    background-image: url(/img/check/bruxelles.svg);
}

.cover--bxl { background-image: url(/img/lucie/bruxelles.jpg); }
 

 
 /*
 * Et demain
 * ---------
 */

#futur-passe h1:before {
    .common;
    background-image: url(/img/check/machine.svg);
}

#chavez-gallant h1:before {
    .common;
    background-image: url(/img/check/hugo.svg);
}


 /*
 * Mamy
 * ---------
 */
#bug-explique h1:before {
    .common;
    background-image: url(/img/check/mamy.svg);
}

#bug-explique ul {
    list-style-type: none;
    padding-left: 1.25em;
}

#bug-explique li:before {
	content: "* " !important;
	width: 1.25em;
	display: block;
	position: absolute;
	left: -1.25em;
    }



/*
 * Interview Pereira
 * -----------------
 */

#itw-pereira h1:before {
    .common;
    background-image: url(/img/check/peirera.svg);
}

#itw-pereira img { width: 95%; }


/*
 * Interview PwC
 * -------------
 */


/*
 * Conclusion
 * ----------
 */


/*
 * Bug expliqué
 * ------------
 */

#bug-explique {
    font-family: "latin-modern-mono-10";
    font-size: 1.15em;
    line-height: 1.25em;
    font-style: italic;
}

/* TODO: check what it does */
#bug-explique h1 { font-style: normal; }

#bug-explique h1:before {
    .common;
    background-image: url(/img/check/mamy.svg);
}

#bug-explique p { text-align: left; }

#bug-explique li:before { content: "— "; }

#bug-explique p + p {
    margin-top: 12pt;
    text-indent: 0;
}

/*
 * Ont répondu ou pas
 * ------------------
 */


#epilogue h1:before {
    .common;
    background-image: url(/img/check/epilogue.svg);
}




/*
 * Making of
 * ---------
 */


/*
 * Backvover
 * ---------
 * 
 */

.cover--back { background-image: url(/img/ivo/2250.png); }


/*#timeline { color: @blue; }*/
/*#les-acteurs { color: @violet; }*/

.img-wallone {
    width: 90%;
}

.cover--abonnez-vous { background-image: url(/img/abonnez-vous.svg); }
#making-of h2 {
    -webkit-region-break-before: always;
    
}
#making-of {
    font-family: "alfphabetbipocatcondensed";
    font-size: 7pt;
    line-height: 9pt;
}
#making-of ul {
    padding-left: 0;
}
#making-of ul li:before {
    content: "";
}

.column {
    .column-gap(20px);
}
.column--x2 {
    .column-count(2);
}
.column--x3 {
    .column-count(3);
}
