/**
 * Mixins
 * ======
 */

.flow-into(@flow) {
    -webkit-flow-into: @flow;
            flow-into: @flow;
}

.flow-from(@flow) {
    -webkit-flow-from: @flow;
            flow-from: @flow;
}

.column-count(@colcount: 0) {
    -webkit-column-count: @colcount;
       -moz-column-count: @colcount;
            column-count: @colcount;
}

.column-gap(@colgap: 0) {
    -webkit-column-gap: @colgap;
       -moz-column-gap: @colgap;
            column-gap: @colgap;
}

.baseline-grid(@line-height: 9.75pt, @color: rgba(0,255,255,.3)) {
    background-attachment: local;
    background-size: @line-height @line-height;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(top, @color 1px, transparent 1px);
    background-image: -moz-linear-gradient(top, @color 1px, transparent 1px);
    background-image: -ms-linear-gradient(top, @color 1px, transparent 1px);
    background-image: -o-linear-gradient(top, @color 1px, transparent 1px);
    background-image: linear-gradient(to bottom, @color 1px, transparent 1px);
}
