/* the geometry of the page */
@page-width: 160mm;
@page-height: 230mm;


/* the sizeof the crop marks*/
@crop-size: 7mm;

/* the size of bleed */
@bleed: 5mm;

// FIXME: make a case for single page layouts
@page-margin-inside: 9mm;
@page-margin-outside: 6mm;
@page-margin-top: 6mm;
@page-margin-bottom: 6mm;

@footer-height: 12mm;
@footer-text: counter(page-counter);

@font-size: 9pt;
@line-height: 9.75pt;

@gutter: 12pt;

@violet: #ff00ff;
@bleu-gris: #5899aa;
@brique: #800000;
@yellow: #ffff00;
@blue: #000efc;

@body-size: @page-width - @page-margin-inside - @page-margin-outside;
@column-size: (@body-size - (10pt * 11)) / 12;
