
/* __________________________________ FONTS __________________________________ */
@font-face {
    font-family: 'centurycatalogue';
    src: url('../static/fonts/century-catalogue-webfont.eot');
    src: url('../static/fonts/century-catalogue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/century-catalogue-webfont.woff2') format('woff2'),
         url('../static/fonts/century-catalogue-webfont.woff') format('woff'),
         url('../static/fonts/century-catalogue-webfont.ttf') format('truetype'),
         url('../static/fonts/century-catalogue-webfont.svg#century_catalogueroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alfphabetbipocatcondensed';
    src: url('../static/fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('../static/fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('../static/fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('../static/fonts/alfphabetbipocat-condensed-webfont.svg#alfphabetbipocatcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alfphabet-IV';
    src: url('../static/fonts/Alfphabet-IV.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Career';
    src: url('../static/fonts/Career.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    -webkit-print-color-adjust: exact;  /* Allows printing of background colors */
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
}

/* __________________________________ VARIABLES __________________________________ */

@page-width: 160mm;
@page-height: 230mm;
@spread: @page-width*2;
@page-margin-inside: 10mm !important;
@page-margin-outside: 15mm;
@page-margin-top: 10mm;
@page-margin-bottom: 25mm;

html {
    width: @page-width;
    height: @page-height;
    padding-left:@page-margin-inside;
    padding-right:@page-margin-outside;
    padding-top:@page-margin-top;
    padding-bottom:@page-margin-bottom;
    outline: 1px solid blue;
}

/* body */
body { 
    font-family: "centurycatalogue"; 
    font-size: 0.8em; 
    line-height: 1em; 
    }  
    
p + p { 
    margin-top: 1em; 
}

/* __________________________________ MASTER BOXES __________________________________ */

.3columns {
    float: left;
    height: 100%;
    width: 30%;
    padding: 0.5em;

    & + .3columns {
        padding-left: 0.5em;
    }
}

.investigation-title {
    float: left;
    height: 30%;
    width: 66%;
}

/* __________________________________ HEADERS __________________________________ */
h1 { 
    font-family: "Career"; 
    font-size: 3.5em; 
    line-height: 1em; 
    margin-top: 0; 
    }
    
.headline { 
    padding-top: 10px;
    font-size: 1.2em; 
    line-height: 1.25em; 
    margin-top: 0; 
    }
    
.insert {
    font-family: "Career"; 
    font-size: 1.1em; 
}

/* __________________________________ PAGE INFOS __________________________________ */
.titre-courant {
    width: @page-width;
    position:absolute;
    top: 5mm;
    left: 5mm;
    padding: 5mm;
}