<!-- Begining of markdown2/03.01.stesud.md" -->
<article id="stesud">
<h1 class="boulot-de-merde">Système médiéval <br>ou « erreur marginale » ?</h1>
<p>Premier suspect tout trouvé dans cette affaire : la société Stésud qui a créé le logiciel de vote électronique Jites, à l’origine du bug. Quand on évoque la qualité de son boulot dans cette affaire, les critiques pleuvent illico. « Faiblesse » des méthodes de travail pointée par PricewaterhouseCoopers (PwC), la société en charge de contrôler le système, code qualifié « de merde » par un hacker, sécurité du système remise en cause par un codeur : voici un petit florilège des critiques qui flinguent Stésud…</p>
<h2>« Un code de merde »</h2>
<!-- citation entre guillemets + italique ??? -->

<p>Prenons d’abord le rapport remis par PwC aux autorités belges en avril 2014. Celui-ci met en avant l’absence de méthode de travail de Stésud. En langage d’auditeur, ça donne ça : « L’ensemble des processus de contrôle relatifs à la gestion de changements [du code] chez Stésud est très informel et ne nous permet pas de nous baser sur un traçage exhaustif des changements effectués et de leur approbation. » PwC épingle aussi « certaines faiblesses » concernant la maintenance du code source, notamment « l’absence de dossiers de programmation et de documentation » dans le code. Conclusion : il existe « un risque résiduel quant à des problèmes de régression ».</p>
<p>Nous avons interrogé un hacker belge, qui préfère rester anonyme. Il nous résume la situation de façon plus crue : « Ils [PwC] ont reçu un code et une doc de merde, réalisés avec des méthodes de travail de merde, et ils ont fait ce qu’ils ont pu, tout en soulignant le risque d’utiliser de la merde. Malheureusement un bug leur a malgré tout échappé. Quoi de plus normal en quelque sorte ? Ils auraient peut-être dû émettre un avis plus bloquant car on a beau signaler au ministère que c’est de la merde, tant que ce n’est pas bloquant le ministère s’en fout. » </p>
<h2>« J’ai trouvé un mot de passe sur internet »</h2>
<p>Quentin Kaiser, jeune développeur, a passé son été 2014 à se taper des lignes de code, pendant que ses semblables se doraient la pilule au soleil. Un lien vers le code source du logiciel de vote électronique édition 2012 (élections communales), publié sur Facebook par un ami, a d’abord aiguisé sa curiosité. « Les gens disaient que le code n’était franchement pas très propre, voire carrément mal écrit. Dans le fil des commentaires, les développeurs se sont livré une bataille pour désigner celui qui allait trouver la ligne la plus horrible. » Fin juin, le code 2014 est mis en ligne. L’étudiant s’y plonge : « Ce que j’ai trouvé, moi, outre certains fichiers (en langage C) dont la source était disponible, ce sont des exécutables Windows qui nécessitent des compétences spécifiques pour être audités. On sent que les développeurs de chez Stésud, qui géraient ce code lors des dernières élections, se sont juste contentés de faire une archive vite fait, sans se soucier de ce qu’ils mettaient dedans. » </p>
<p>Quentin Kaiser a également relevé plusieurs lacunes dans la sécurité des serveurs informatiques et en conclut : « L’infrastructure mise en place par le gouvernement ne correspond pas du tout à ce que l’on pourrait attendre d’un système d’information gérant, au final, les votes de ses propres citoyens. » Il a notamment trouvé : </p>
<ul>
<li>deux identifiants et mots de passe de niveau administrateur, toujours valides, dans le code de l’application web 2 (utilisée par les ambassades étrangères pour encoder les votes des ressortissants belges) ;</li>
<li>deux clés privées qui peuvent être utilisées pour chiffrer (crypter) les votes des Belges vivant à l’étranger. Problème : le mot de passe d’une clé privée était accessible dans un autre fichier. On peut donc imaginer que la personne qui se saisit de cela peut ensuite chiffrer des documents en se faisant passer pour Stésud. Et donc manipuler les données qui sont échangées sur le réseau.</li>
</ul>
<h2>« Une erreur humaine marginale »</h2>
<p>Chez Stésud, on se veut beaucoup moins alarmiste. Dans un document interne à NRB (groupe auquel appartient aujourd’hui Stésud), le patron, Uli Penzkofer, estime que l’impact de l’anomalie (comprenez le « bug ») est « marginal, soit quelque 2 000 votes pour l’ensemble des trois élections ». Les marginaux apprécieront. La cause ? « Il s’agit d’une erreur humaine dans deux lignes de code ajoutées en début d’année, liées à une fonctionnalité qui a trait au changement du choix durant le vote ». Une version qu’on pourrait résumer comme ça : un de nos stagiaires a un peu déconné en s’endormant sur son clavier, mais pas de quoi fouetter un chat. Dans sa com’ interne, Uli Penzkofer assure que « contrairement à ce que certains médias ont pu laisser entendre, cette erreur n’est pas liée à l’âge du logiciel ». Nous voilà rassurés.</p>
<!-- renvoi de l’article -->

<div class="directions right">
<p>Si tu es un vrai geek et que tu veux connaître le détail des découvertes du développeur Quentin Kaiser sur les failles de sécurité du système, va à l’entrée <a href="#fraude-possible">Fraude possible ?, page 8</a></p>
</div>
<div class="directions right">
<p>Sinon, poursuis ton chemin et découvre le 2<sup>e</sup> suspect :  <a href="#pwc">PwC, page 9</a>.</p>
</div>
</article>
<!-- End of markdown2/03.01.stesud.md" -->

<!-- Begining of markdown2/03.02.fraude-possible.md" -->
<article id="fraude-possible">
<!-- Page bonus cul de sac -->

<h1>Fraude possible ? </h1>
<p>Le vote électronique reposant sur un système de cartes magnétiques, Quentin Kaiser, développeur qui était encore étudiant en informatique l’été dernier, a tenté de voir s’il était possible pour une personne mal intentionnée de lire les cartes, de les modifier ou d’en créer de fausses afin de provoquer un bourrage d’urnes.</p>
<p>Comment ? « Il est possible de créer des cartes magnétiques valides et il me semble que les cartes magnétiques utilisées par Stésud ne comportent pas de marques particulières permettant de les identifier. Il est donc possible pour une personne d’effectuer un bourrage d’urne. Cette personne ne sera vraisemblablement pas un votant lambda, car les assesseurs gardent un œil sur les urnes durant la journée des élections. Il est cependant possible pour un assesseur ou une personne dédiée à la gestion de ces urnes d’insérer autant de
cartes qu’il veut à l’abri des regards. Cela nous rapproche du vote papier où, si l’urne n’est pas scellée efficacement, il est possible pour les personnes effectuant le transfert de ces urnes de les ouvrir, d’insérer de nouveaux bulletins puis de les sceller à nouveau. »</p>
<p>Mais en poussant plus loin son analyse, Quentin Kaiser remarque qu’il est possible d’obtenir les clés de chiffrement de la disquette qui enregistre les votes, en lisant la disquette d’initialisation des ordinateurs de vote avant l’ouverture des bureaux. Grâce à ces clés, quelqu’un de mal intentionné peut fabriquer une disquette contenant les votes de son choix et échanger cette disquette contre la véritable disquette du bureau de vote avant qu’elle ne soit lue par le logiciel PGM2 qui effectue la comptabilisation des votes au niveau du canton.</p>
<p>Quentin Kaiser se pose également des questions sur la sécurité du transfert des résultats entre les bureaux de vote et les serveurs du ministère de l’Intérieur (ou de Stésud). Il estime ainsi qu’il pourrait être possible de rediriger le trafic vers une machine appartenant à un « attaquant ». </p>
<p>« Le transfert des données s’effectue via le protocole HTTP ou HTTPS. Le fichier de configuration des logiciels PGM2 et PGM3 (qui servent notamment à rassembler les résultats et les envoyer au ministère de l’Intérieur) renseigne des adresses en HTTPS (protocole de transfert sécurisé) et en HTTP (protocole de transfert classique, non sécurisé). Je suppose que par défaut, le transfert se fait via HTTPS mais que si un problème survient, le logiciel retente d’envoyer en HTTP. »</p>
<p>Un attaquant peut effectuer une attaque dite « man-in-the-middle » où il redirige le trafic des programmes PGM2/PGM3 vers sa machine. Si HTTPS est utilisé, le succès de l’attaque dépendra de la manière dont le client effectue la connexion. Pour établir une connexion sécurisée, le client est censé vérifier que le certificat présenté par le serveur correspond bien au serveur et est valide (c’est-à-dire qu’il a été signé par une autorité de certification valide). « C’est exactement ce qui se passe lorsque tu te connectes à un site web avec ton navigateur. Si quelqu’un te cible avec cette attaque, ton navigateur te présentera un message d’avertissement t’expliquant que la connexion n’est pas sécurisée. Si HTTP est utilisé, l’attaque est triviale vu que le client n’a aucun moyen à sa disposition pour vérifier l’identité du serveur avec lequel il communique. »</p>
<p>Quant à la situation géographique de l’attaquant : il peut être sur le réseau local du bureau de vote même ou situé sur l’une des intersections que traversent les données transmises entre le client et le serveur du ministère de l’Intérieur. La seconde situation est bien plus « haut niveau », évidemment.</p>
<p>« Toutefois, je ne peux pas du tout confirmer ce type d’attaque, parce que, le code de PGM2 et PGM3 étant indisponible, je ne peux pas savoir ce qui est effectivement transmis vers les serveurs de Stésud. Cependant, si ce type d’attaque est exécuté avec succès, l’attaquant peut non seulement lire le contenu mais également le modifier s’il le souhaite. »</p>
<p>Selon Quentin Kaiser, « le simple fait qu’on puisse mettre en question la sécurité et l’intégrité du système pose problème. À l’heure actuelle, plusieurs systèmes mettant en pratique le concept de vote cryptographiquement sûr [ensemble de conditions permettant de fournir des preuves tangibles vis-à-vis de l’intégrité des votes] ont vu le jour et j’estime que celui de Stésud n’en respecte aucun point mais, il faut également savoir qu’à l’époque de la création de Jites cette idée n’était même pas encore née ! Le gros problème qui ressort de mon audit technique, c’est que le vote électronique est présenté comme une solution au vote papier. Mais dans les faits, ça n’apporte rien de plus. Le vote électronique devrait pouvoir empêcher de faire du bourrage d’urnes et de créer des cartes magnétiques escrocs, mais en réalité, on voit que non. Cela n’apporte rien de plus en termes de sécurité. »</p>
<div class="directions right">
<p>Tu peux maintenant reprendre le cours de l’enquête, en découvrant le 2<sup>e</sup> suspect :  <a href="#pwc">PwC, page 9</a>.</p>
</div>
</article>
<!-- End of markdown2/03.02.fraude-possible.md" -->

<!-- Begining of markdown2/03.02.pwc.md" -->
<article id="pwc">
<h1>Contrôle bâclé ou conflit d’intérêts ? </h1>
<p>En 2014, la filiale belge de PwC (PricewaterhouseCoopers), réseau américain d’entreprises spécialisées dans l’audit informatique, contrôle la qualité et la conformité des logiciels utilisés par les sociétés privées en charge du vote électronique. Parmi elles, Stésud, dont le système Jites a buggé. S’il ne fait aucun doute que celui-ci présentait des failles, n’était-ce pas le rôle de l’auditeur de tirer la sonnette d’alarme ? </p>
<p>Fin janvier 2015, la RTBF l’annonce : « On connaît, enfin, tout le processus qui a conduit au gigantesque bug du vote électronique du 25 mai dernier : c’est une bonne vieille histoire de code source informatique. C’est la société Stésud qui a rédigé le code du logiciel responsable du comptage des voix. Mais c’est PricewaterhouseCoopers (PwC) qui devait contrôler ce code. Et le bug lui a échappé. » </p>
<h2>« Tout ira bien »</h2>
<p>Et voilà, c’est très clair : Stésud utilise un code défaillant mais PwC est responsable de ne pas s’en être rendu compte. Comme le souligne Stéphan De Mul, porte-parole du Service Public Fédéral (SPF) Intérieur, le bug est « passé au travers des mailles de tous les tests ». Le 4 avril, à un mois du scrutin, PwC avait remis son audit sur le système de Stésud et se disait en mesure de « conclure avec une assurance raisonnable, mais pas absolue », que ça allait fonctionner sans problème… 
Comment ont-ils réalisé des tests pronostiquant l’inverse de ce qui s’est finalement passé ? Détail embêtant : personne ne connaît les tests en question. Comment sur une batterie moyenne de milliers d’examens, une erreur de retour de case aussi grossière ne peut-elle pas être identifiée ? Impossible d’obtenir la réponse. Tenue par une clause de confidentialité, PwC ne peut pas s’exprimer. En bref, ceux qui savent sont tenus au secret et ceux qui ignorent peuvent parler…</p>
<p>Nous avons interrogé notre hacker anonyme : « Bien sûr, Stésud est responsable mais PwC est également responsable de laisser passer un code d’aussi mauvaise qualité. » Et, pourtant, des tests efficaces existent et sont utilisés, constamment, dans d’autres domaines : « Les cartes bancaires, cartes d’identité, passeports, terminaux de payement, etc. doivent se soumettre à des contrôles très stricts réalisés par des laboratoires sous le contrôle des États. Il suffirait de soumettre les éléments logiciels et hardwares du vote électronique au même contrôle qui est, croyez-moi, bien plus rigoureux que ce que PwC a pu entreprendre. » 
Le code utilisé par Stésud est-il à ce point dépassé qu’il est difficile de l’auditer ? PwC aurait-il effectué son audit à la légère ? S’il est impossible d’obtenir les informations techniques permettant de trancher, nous pouvons au minimum épingler un élément étonnant concernant les liens entre Stésud et PwC, l’audité et l’auditeur.</p>
<h2>Le contrôlé payé par le contrôleur</h2>
<p>Le SPF Intérieur a agréé cinq sociétés qui peuvent contrôler la qualité et la conformité des logiciels utilisés pour le vote électronique – histoire d’avoir un garde-fou. Ensuite, c’est à la société en charge de ce logiciel d’engager elle-même son contrôleur… C’est donc Stésud qui rémunère PwC. Le but du jeu, selon Stéphan De Mul (porte-parole du SPF Intérieur) est de mettre le SPF Intérieur hors du processus de contrôle pour assurer l’indépendance de cet audit vis-à-vis des pouvoirs publics.
Le garde-fou PwC semble fragile pour deux raisons : </p>
<ul>
<li>Non seulement, le contrôleur est payé par le contrôlé. Mais de surcroît, en 2014, PwC était commissaire au comptes de Stésud. Ces différentes casquettes (commissaire, auditeur) peuvent-elles court-circuiter l’indépendance et la rigueur d’un jugement ? Notons qu’il y a quand même un peu d’argent à la clé. En 2005, le contrôle des logiciels pour le vote électronique par un organisme agréé était chiffré à 520 000 euros, d’après le ministère de l’Intérieur.</li>
<li>Les logiciels testés en 2014 étaient en fin de vie. Le contrôle a peut-être été un peu superficiel. À en croire un des membres du Collège des experts qui a accepté de nous parler, déjà en 2012, l’audit était léger. Selon lui, PwC n’aurait même pas relu le code. Les mises à jour et audits du logiciel auraient-ils été moins poussés parce que l’outil n’allait plus être utilisé après 2014 ?  </li>
</ul>
<div class="directions">
<p>Tu veux entendre la version de PwC sur le bug ? Appelle le +32 (0)483 68 62 76.</p>
</div>
<div class="directions right">
<p>Sinon, poursuis ton chemin et découvre le 3<sup>e</sup> suspect :  <a href="#etat-belge">l’État</a>.</p>
</div>
</article>
<!-- End of markdown2/03.02.pwc.md" -->

<!-- Begining of markdown2/03.03.etat-belge.md" -->
<article id="etat-belge">
<h1 class="region-break">Incompétence ou manque de moyens ? </h1>
<p>En 2000, l’État a décidé de confier l’organisation du vote électronique à des firmes privées. Mais pour éviter toute perte de contrôle sur le scrutin, les autorités se sont appuyées sur deux garde-fous : un Collège des experts, désigné par les parlements et prévu dans une loi de 1998 et un audit externe des logiciels par une société agréée. Rien de plus clair, à priori. Sauf que dans les faits, tout est bien plus compliqué…</p>
<h2>Un vote expédié</h2>
<p>Petit retour en arrière pour se rappeler comment a été mis en place le processus électoral en matière de vote électronique, garant de notre démocratie. Nous sommes le jeudi 20 juillet 2000. C’est la veille de la Fête nationale et, surtout, la veille des vacances pour les sénateurs. Leur train s’emballe. Les votes se suivent en rafale. Un peu n’importe comment. À en croire Jacky Morael (Ecolo), ils travaillent « dans des conditions déplorables et, à certains égards, inacceptables. Des textes qui arrivent en dernière minute, manifestement mal ficelés, que la Chambre elle-même n’a pas eu l’occasion d’étudier avec toute l’attention voulue ». Parmi les textes à adopter en urgence, il y a la réforme du système du vote électronique.</p>
<p>La nuit est déjà avancée. Nous sommes sous le gouvernement Verhofstadt 1<sup>er</sup>. Côté francophone, PS, Ecolo, PRL/FDF/MCC (Parti libéral, futur MR) sont au pouvoir. Les libéraux, par la voix de Philippe Monfils, rappellent que « le progrès technique est une réalité dont il est impossible de ne pas tenir compte ». Mais Ecolo (Jacky Morael) et PS (Anne-Marie Lizin) se montrent clairement moins enthousiastes. Au moment du vote, courage politique oblige, Ecolo décide qu’une personne de son groupe s’abstiendra. Le texte passe, à la grande joie de Vincent Van Quickenborne (VU-ID) pour qui ceci « peut constituer la base d’un développement ultérieur utilisant internet ».</p>
<h2>La patate chaude au privé</h2>
<p>Ce choix politique estival valide ceci : </p>
<ol>
<li>Le SPF Intérieur n’a pas (et donc n’aura pas) les compétences en interne pour développer et contrôler un logiciel pour le vote. Cette tâche va être sous-traitée au secteur privé.</li>
<li>Pour garder le contrôle du processus, le nouveau texte de loi prévoit ou renforce deux garde-fous : un auditeur indépendant pour analyser les logiciels utilisés (ce sera PwC) et le Collège des experts pour superviser les élections.</li>
</ol>
<p>Stéphan De Mul, porte-parole du SPF Intérieur et membre de la cellule « Élections », revient sur le choix, en 2000, de confier le contrôle du logiciel à une société extérieure : « Ce n’était pas un choix technique mais un choix politique. Un appel a été lancé pour plusieurs firmes. Sur cette base, on a agréé cinq sociétés et il appartient à la firme qui programme le logiciel électoral de choisir son contrôleur. Celui-ci n’a pas toujours été PwC. Le but était de mettre le SPF hors du jeu pour éviter toute suspicion d’ingérence dans le processus. Chaque système a ses avantages et inconvénients. » Intention louable, donc.</p>
<h2>« Ce n’est pas glorieux »</h2>
<p>Nous avons vu les limites du garde-fou PwC. Quant au Collège des experts, avant d’évaluer son efficacité, revenons à sa composition. Il s’agit d’un groupe d’experts issus des institutions publiques ou d’universités, au profil technique, choisis par l’ensemble des parlements. Lecture des audits, du code, rencontres avec les sociétés en charge du vote, remise d’un rapport après chaque scrutin : ce comité vérifie le bon déroulement du vote électronique et alerte sur les éventuels bugs. Pour les scrutins du 25 mai 2014, il était censé commencer à travailler dès le 16 avril.  </p>
<p>Problème : la Chambre des représentants a désigné ses experts le 24 avril, soit déjà huit jours trop tard. Autre problème : la Wallonie n’a désigné personne pour siéger au Collège permanent. « Ce n’est pas glorieux, concède Patrick Dupriez (Ecolo), alors président du Parlement wallon. Quand nous avons reçu la demande, nous n’avions que deux informaticiens sur les 93 fonctionnaires du Parlement wallon. Dans ce contexte de sous-staff, on a choisi de ne désigner personne au Collège permanent. » Et encore un problème : la Wallonie a bien désigné deux personnes pour le Collège non-permanent (car oui, il y a un collège permanent et un non-permanent, même si dans les faits ces deux groupes n’en forment qu’un !) mais on leur aurait mis des bâtons dans les roues. Dans son rapport final, le Collège regrette en effet « les obstacles que les membres non-permanents du Parlement wallon ont rencontrés pour remplir leur mission ». Hein ? </p>
<p>Frédéric Janssens, greffier du Parlement wallon, précise les obstacles en question : « Il y a un problème d’organisation au niveau du SPF Intérieur. Les informations qui nous sont parvenues sur la composition du Collège des experts étaient contradictoires et tardives. Une série de désignations devaient passer par un appel public que nous n’avons pas eu le temps d’organiser. Ce rapport nous pointe de manière excessive et ne nous a d’ailleurs pas été soumis pour avis contradictoire. […] J’observe que la législation est compliquée et que nous sommes à la limite de l’impraticabilité. Nous espérons qu’à l’avenir cela se passera mieux. »</p>
<p>Nous aussi.</p>
<h2>40 jours pour deux millions de lignes de code</h2>
<p>Histoire d’enfoncer la clé USB dans la plaie, nous avons pu rencontrer un expert du Collège — fait exceptionnel car ils sont tenus par le secret — et lui avons posé la question des conditions de travail : « La loi prévoit un travail 40 jours avant les élections mais il y a… deux millions de lignes de code à lire, des vérifications sur le terrain, des rencontres avec les développeurs, etc. C’est impossible. La loi met des conditions impossibles à respecter pour parvenir à contrôler tant les outils que les protocoles des élections. Pour la rémunération, l’enveloppe est limitée. Nous avons chacun remis le décompte de nos heures. On oscillait entre 80 et 150 heures par personne. Le responsable a fait le total et nous a signalé qu’il y avait trop d’heures… »</p>
<p>Quant à l’intérêt politique pour le rapport de ce Collège, remis quelque temps après, il semble très modéré. « Le Parlement a auditionné le Collège des experts début janvier. Avec peu de questions, à part de Benoît Hellings (parlementaire Ecolo)… », rapporte Stéphan De Mul.</p>
<!-- renvoi à l’intérieur -->

<div class="directions right">
<p>Si tu veux lire l’interview du membre du Collège des experts, va tout de suite à l’<a href="#itw-pereira">Interview piratée, page 21</a>. </p>
</div>
<h2 class="region-break">L’Intérieur dépendant de Stésud</h2>
<p>Dans son rapport sur les dernières élections, le Collège des experts conclut que le SPF Intérieur, et notamment sa cellule Élections chargée de suivre le processus, sont totalement noyés face à la complexité du vote électronique, pris en charge et contrôlé par des firmes privées : « Il est à nouveau apparu que le SPF Intérieur était complètement dépendant de la société Stésud ». Il faut savoir que cette cellule Élections, permanente depuis 2007, ne comporte que quatre personnes dont un seul informaticien ! « On n’est pas suffisamment armés, avec notamment des personnes pensionnées ou en fin de carrière à remplacer, reconnaît Stéphan De Mul. Renforcer l’équipe est inévitable, compte tenu notamment de la complexité de la transmission des données digitales des résultats. »</p>
<p>Une administration totalement dépassée et un Collège d’experts qui n’a pas les moyens de ses ambitions : au final, ce sont les sociétés privées, qui élaborent les programmes et qui les contrôlent, qui ont la main sur nos élections. La faute à qui ? </p>
<div class="directions right">
<p>Si tu n’as toujours rien compris, rendez-vous <a href="#bug-explique">Chez Mamy, page 35</a>.</p>
</div>
<div class="directions right">
<p>Si tu veux rire ou pleurer en voyant comment le bug a ridiculisé les parlements, en Wallonie et à Bruxelles, file au chapitre <a href="#parlements">Pendant ce temps aux parlements, page 14</a>.</p>
</div>
<div class="directions right">
<p>Sinon, va voir ce que l’avenir nous réserve au chapitre <a href="#demain">Et demain, page 18</a>.</p>
</div>
</article>
<!-- End of markdown2/03.03.etat-belge.md" -->

<!-- Begining of markdown2/03.04.itw-anonyme.md" -->
<article id="itw-anonyme">
<!--LES CONFIDENCES D’UN EXPERT ANONYME-->

<h1>Confidences d’un expert anonyme</h1>
<p>Un membre du Collège des experts a accepté de répondre, anonymement, aux questions de Médor.</p>
<div class="interview">
<p class="question">Comment devient-on expert pour le Collège ? </p>
<p>Pour devenir expert, il faut être quasiment coopté. Les candidats sont recherchés dans les institutions publiques, au Bureau du Plan, au Sénat, à la Chambre, dans les écoles d’informatique, dans les universités. Pour les non-fonctionnaires, il n’y a aucune mise à disponibilité [ils doivent prester en dehors de leurs heures de travail]. On doit signer un document précisant que rien ne sera dit sur le secret du vote. Le texte est flou. Que le vote fasse partie du secret, c’est logique. Mais pas le processus.</p>
<p class="question">Vous avez des contacts avec l’auditeur des logiciels et du code ? </p>
<p>PwC nous a présenté son audit. Je n’ai pas relu le code et suis persuadé qu’ils ne l’ont pas fait non plus. Je parierais plus sur une relecture superficielle, un peu comme si vous lisiez les dix premières et les dix dernières pages d’un livre.</p>
<p class="question">Pourquoi ne le font-ils pas selon vous ? </p>
<p>Parce que c’est très difficile de relire du code. Et quand on a un bon programmeur, on ne lui fait pas relire du code, on le fait écrire ! De mon côté, J’ai parcouru le code Smartmatic [société qui va gérer les votes automatisés en Belgique jusque 2024]. Ils ont développé du code sur un système d’exploitation libre type Ubuntu. J’ai fait intervenir des logiciels d’aide pour apprécier la qualité le code. Un peu comme un vérificateur orthographique automatique. Des dizaines de milliers de « warning » et recommandations ont été affichés ! Certes, ces logiciels fonctionnent, mais ils sont mal écrits. C’est un peu comme oublier le pluriel. Vous comprenez le sens de la phrase mais il y a une faute. Ensuite, quand vous écrivez un code, vous écrivez au préalable un logiciel de test qui suit et valide votre programmation au fur et à mesure. Ici, cela n’a quasi pas été fait. Cela n’est pas du tout à la hauteur des exigences d’un logiciel professionnel. À peine d’un logiciel amateur.</p>
<p class="question">Mais cela fonctionne, quand même ? </p>
<p>Des programmes peuvent fonctionner même si le code n’est pas bien écrit. Mais ce langage rédigé par un homme, exécuté par une machine, doit pouvoir être relu et adapté par un homme. Si vous ne l’écrivez pas de manière claire, structurée, l’humain ne parviendra pas à le relire et à le comprendre. Il y a des règles de bonne écriture que Smartmatic ne respecte pas.</p>
<p class="question">Vérifier deux millions de lignes, écrire comme un Proust de l’informatique, n’est-ce pas tout simplement impayable ? </p>
<p>Écrire bien est plus difficile qu’écrire mal, c’est certain. Mais ce n’est pas le problème du citoyen. Si demain, une personne mal intentionnée arrive au pouvoir, avec la confiance qu’a le public dans le vote électronique, il sera très difficile de trouver la faille dans le code. Nous déléguons notre responsabilité de contrôle démocratique à la machine, les instructions sont trop compliquées, de moins en moins comprises. L’écart avec la pratique devient trop grand. Ceci contribue à mon avis à la défiance des citoyens vis-à-vis de l’État, de ses processus trop compliqués et trop secrets. </p>
</div>
<div class="directions right">
<p>Si tu n’as toujours rien compris, rendez-vous <a href="#bug-explique">Chez Mamy, page 35</a>.</p>
</div>
<div class="directions right">
<p>Si tu veux rire ou pleurer en voyant comment le bug a ridiculisé les parlements, en Wallonie et à Bruxelles, file au chapitre <a href="#parlements">Pendant ce temps aux parlements, page 14</a>.</p>
</div>
<div class="directions right">
<p>Sinon, va voir ce que l’avenir nous réserve au chapitre <a href="#demain">Et demain, page 18</a>.</p>
</div>
</article>
<!-- End of markdown2/03.04.itw-anonyme.md" -->

