<!-- Begining of markdown2/05.01.futur-passe.md" -->
<article id="futur-passe">
<h1>Un nouveau système déjà périmé ? </h1>
<p>Si gouverner c’est prévoir, on a été sans gouvernement sur ce dossier au cours de la dernière décennie. Le système Stésud était prévu pour dix ans. En 2004, il devait être remplacé. Prompt à saisir la balle au bond, l’exécutif fédéral commande en… 2006 une étude interuniversitaire pour penser un nouveau système. Ce rapport, baptisé BeVoting, recommande l’application d’un système mixte électronique et papier, et débouche en septembre 2008 sur un marché public international qui sera remporté par la société Smartmatic.</p>
<p>Le principe du système sélectionné ? L’électeur vote sur écran, reçoit de la machine un ticket avec code-barres (une preuve de vote en quelque sorte). Il scanne ensuite son ticket puis l’introduit dans l’urne électronique.</p>
<p>En 2012, le système Smartmatic est testé dans 151 communes en Région flamande et dans deux en Région bruxelloise. Lors de ce scrutin, aucun gros couac. Mais quelques « petites maladies de jeunesse » techniques, évoquées dans le projet de loi exposé à la Chambre en 2013 : 1.763 cas d’incidents recensés, dont un quart de nature technique. Les ordinateurs se bloquaient dans certains cas, quand l’électeur émettait un vote de préférence en appuyant trop rapidement deux fois sur l’écran. </p>
<p>La classe politique belge porte une part de responsabilité dans ces incidents : elle avait pris du retard dans sa prise de décision relative au choix des ordinateurs à voter. Résultat, un projet pilote du système Smartmatic n’avait pu être testé au préalable. Par ailleurs, les machines à voter avaient été livrées tardivement par la firme dans plusieurs communes.</p>
<h2 class="region-break">Smartmatic, idéal… il y a huit ans ! </h2>
<p>Mais à en croire Olivier Pereira (professeur de cryptographie à l’UCL, membre du groupe chargé du rapport BeVoting et concurrent de Smartmatic), le système serait déjà un peu daté : « Smartmatic tel qu’il est utilisé aujourd’hui correspond à ce qui était demandé il y a huit ans. Cela a évolué depuis ». Selon lui, quand les universités se sont penchées sur le vote électronique pour sortir l’étude BeVoting, en 2006, « beaucoup d’idées étaient en test et il était trop tôt pour les déployer ». Elles ne se trouvent donc pas dans le rapport interuniversitaire. Entretemps, les techniques se sont développées. Olivier Pereira a lui-même participé à la mise sur pied d’un nouveau système, StarVote, qui devrait être utilisé lors de prochaines élections américaines et qu’il juge plus fiable.  </p>
<p>Embêtant… Le contrat-cadre fédéral est conclu pour une durée de quinze ans, le temps d’amortir le hardware. C’est donc une fois de plus un système dépassé que nous allons, à l’avenir, utiliser.</p>
<div class="directions">
<p>Si tu veux connaître le détail de ce que pense Olivier Pereira de Smartmatic et du vote électronique, tout en prenant un bain dans l’univers absurde de l’illustrateur Ivo Provoost, va à l’<a href="#itw-pereira">Interview piratée, page 21</a>.</p>
</div>
<div class="directions bottom">
<p>Sinon, poursuis ta route ici.</p>
</div>
<!--<img style="width:50%;" src="./img/lucie/MACHINE-002-LD.jpg">-->

<h2 class="region-break">Wallonie, le retour du papier</h2>
<p>Côté wallon, on devrait repasser au vote papier. C’est du moins le projet annoncé dans la déclaration gouvernementale de 2014, comme ce l’était d’ailleurs déjà dans celle de 2009. Une méfiance envers le vote électronique et le manque de moyens expliquent ce choix.</p>
<p>Mais cette sortie de l’électronique ne sera de toute façon pas totale. La Wallonie devrait toujours transmettre ses résultats par voie électronique. Par ailleurs, elle utiliserait un système de comptage des bulletins appelé DEPASS (pour DEPouillement ASSisté), proposé par la firme NRB (dont Stésud fait partie).</p>
<p>Cette décision inquiète notre hacker anonyme : « Ce n’est pas parce que, du côté francophone, nous allons très probablement revenir au vote papier qu’il ne faut plus se soucier du vote électronique. Bien au contraire. La totalisation se ferait de manière électronique, non pas à l’aide d’un code auditable chargé sur une disquette mais à l’aide de PC complets fournis par Stésud. Bonne chance pour auditer l’ensemble des PC ainsi distribués dans les cantons ! »</p>
<h2>Les élections belges, une vitrine internationale</h2>
<p>Si Stésud a déjà proposé de participer au vote wallon, c’est que le marché belge du vote électronique est une vitrine pour les sociétés du secteur. Parfois féroce… En juin 2011, Stésud produisait une étude disant tout le mal qu’elle pensait du vote papier. Pendant l’été 2014, une société hollandaise s’est documentée sur les systèmes utilisés en Belgique et entendait entrer en contact direct (et discret) avec le gouvernement belge pour lui proposer ses services. Au même moment, un mystérieux expert parisien venait lire les rapports des parlements pour scruter les documents liés aux sociétés qui organisent le vote électronique en Belgique.</p>
<p>Mais la place est donc déjà occupée par Smartmatic… Une obscure et controversée société latino-américaine, présente dans plusieurs paradis fiscaux… De quoi aiguiser la curiosité de Médor… </p>
</article>
<!-- End of markdown2/05.01.futur-passe.md" -->

<!-- Begining of markdown2/05.02.chavez-gallant.md" -->
<article id="chavez-gallant">
<!--Surtitre: smartmatic-->

<h1>De Hugo (Chávez) à Jacqueline (Galant)</h1>
<p>La société Smartmatic, spécialisée dans les solutions de vote électronique, affirme aujourd’hui employer « plus de 800 personnes aux États-Unis, au Royaume-Uni, aux Pays-Bas, en Belgique, au Mexique, à la Barbade, en Haïti, au Brésil, au Panama, au Venezuela, aux Philippines, en Inde et à Taiwan. »</p>
<p>Mais l’aventure a timidement démarré au Venezuela au début des années 2000.</p>
<p>Selon plusieurs médias américains, en juin 2003, le gouvernement d’Hugo Chávez (par le biais de la Sociedad de Capital de Riesgo-Venezuela - SCR) investit 200 000 dollars dans Bizta, société sœur de Smartmatic. Les deux start-ups sont les deux faces d’un même bulletin de vote : Bizta écrit le code informatique des logiciels de vote électronique alors que Smartmatic met au point et commercialise les machines de vote. À l’époque, le président de Smartmatic, Antonio Mugica, est un des fondateurs de Bizta, et le président de Bizta, Alfredo Anzola, est vice-président de Smartmatic.</p>
<p>En décembre 2003, Omar Montilla, un haut fonctionnaire pro-Chávez du ministère des Affaires scientifiques rejoint le conseil d’administration de Bizta pour y représenter la participation gouvernementale. Deux mois plus tard, le Conseil électoral national vénézuélien attribue à Smartmatic-Bizta un contrat de… 91 millions de dollars pour l’organisation du référendum du 15 août 2004 concernant la destitution du gouvernement (le « non » l’a emporté avec 59 %).</p>
<p>Joli contrat pour ces deux jeunes start-ups inconnues et sans la moindre expérience en la matière… Sans doute l’entourage du président Hugo Chávez voulait-il s’assurer que l’organisation des élections nationales ne tombe pas dans les mains d’une société privée à la solde de l’opposition…</p>
<p>La petite entreprise latino s’est ensuite considérablement développée. En mars 2005, Smartmatic rachète l’entreprise américaine de vote électronique Sequoia Voting Systems. Mais dès décembre 2006, elle la… revend. Pourquoi ? </p>
<h2>Enquête du FBI et du fisc américain</h2>
<p>Le Committee on Foreign Investments (CFIUS), le FBI et le fisc américain avaient ouvert des enquêtes sur Smartmatic. Apparemment, la PME vénézuélienne a été incapable de démontrer que son actionnariat ne posait pas de risque pour les intérêts américains, et que le Venezuela d’Hugo Chávez – pays sur la liste noire étasunienne – n’était pas en position de contrôler certains scrutins américains.</p>
<p>À l’époque, la démocrate new-yorkaise Carolyne Maloney, évoquant des réseaux offshore, s’insurgeait : « Le gouvernement devrait savoir à qui appartiennent nos machines à voter. C’est une question de sécurité nationale. (…) Il semble qu’il y a des efforts évidents pour cacher les réels propriétaires de la compagnie. »</p>
<p>Tentant de dissiper les doutes sur l’identité de ses actionnaires, Smartmatic émet, en octobre 2006, un communiqué de presse dans lequel son CEO Antonio Mugica affirme : « Aucun gouvernement ou entité étrangère – dont le Venezuela – n’a jamais détenu la moindre participation dans Smartmatic et nous avons volontairement soumis des informations au CFIUS pour réduire à néant les rumeurs persistantes et sans fondement à propos de nos actionnaires. » Smartmatic dit sans doute vrai mais feint d’ignorer le fait – établi – que le gouvernement vénézuélien a investi 200. 000 dollars en 2003 dans Bizta, la boîte qui a rédigé le code informatique des machines commercialisées par Smartmatic…</p>
<h2>Montage offshore</h2>
<p>En Belgique, le SPF Intérieur s’est brièvement renseigné sur la société. « On ne pouvait pas les mettre dehors juste parce qu’ils sont Vénézuéliens », rit Stéphan De Mul (porte-parole du SPF). Mais ils sont un peu plus que Vénézuéliens… En 2015, les actionnaires de Smartmatic se cachent derrière un montage offshore intéressant : Smartmatic Belgium, par exemple, appartient à une boîte-aux-lettres hollandaise détenue par une société britannique, elle-même propriété d’une offshore enregistrée à Curaçao, archipel des Antilles néerlandaises. Smartmatic a également créé des sociétés dans une kyrielle d’autres paradis fiscaux opaques, dont la Barbade, le Panama et le Delaware.</p>
<p>Pour Smartmatic, circulez, y’a rien à voir : « Smartmatic dispose d’une structure actionnariale internationale comparable à d’autres multinationales telles que Shell, Philips, ING Bank, ABN-AMRO, EADS, et Schlumberger », rétorque à Médor Samira Saba, directrice de communication de la firme. « Les propriétaires de Smartmatic, depuis sa création en 2000, sont les familles Mugica, Piñate, Anzola et Massa, détenant plus de 88 % des actions Smartmatic ; 10 % des titres restants correspondent au Programme d’intéressement en actions pour les employés qui sont devenus actionnaires ; et les 2 % de titres qui restent sont aux mains de business angels. » </p>
<p>Difficile à vérifier : lorsqu’on demande à voir des documents officiels attestant de cet actionnariat, Samira Saba invite Médor à se déplacer à Londres ou Amsterdam pour les consulter. Smartmatic Belgium a pourtant ses bureaux rue Belliard à Bruxelles. Par ailleurs, pas un mot sur ce que la participation prise dans Bizta fin 2003 par le gouvernement vénézuélien est aujourd’hui devenue…</p>
<p>En janvier 2014, Jacqueline Galant (MR), alors parlementaire fédérale, commentait à la Chambre l’attribution à Smartmatic du marché du vote électronique : « Là où la Wallonie fait, en 2011, le choix d’un retour en arrière, le gouvernement fédéral fait le choix de la modernité et de la transparence. » De la transparence, vraiment ?  </p>
<!--<img style="width:10%;" src="./img/jungle/multi-jungle-pixel.png">-->

<div class="directions right">
<p>Si tu ne l’as pas encore fait, tu devrais VRAIMENT aller prendre un bain futuriste avec l’expert du vote électronique Olivier Pereira (UCL) à l’<a href="#itw-pereira">Interview piratée, page 21</a>.</p>
</div>
<div class="directions right">
<p>Si tu y es déjà allé, c’est le moment de rejoindre notre <a href="#epilogue">Épilogue, page 37</a>.</p>
</div>
<div class="directions right">
<p>À moins que tu ne fasses encore partie des gens qui confondent « bug » et « mug », alors va conclure cette affaire <a href="#bug-explique">Chez Mamy, page 35</a>.</p>
</div>
</article>
<!-- End of markdown2/05.02.chavez-gallant.md" -->

<!-- Begining of markdown2/05.03.itw-pereira.md" -->
<article id="itw-pereira">
<h1>Interview piratée</h1>
<p>Médor a rencontré le professeur Olivier Pereira, du Crypto Group de l’université catholique de Louvain (UCL). Ce dernier a participé à la rédaction, en 2007, de BeVoting, un rapport commandé à plusieurs universités par les autorités belges sur l’avenir du vote électronique. Il a également travaillé à l’élaboration de STAR-Vote, système qui couple électronique et papier. Pour lui, ce système est bien plus avancé et fiable que celui de Smartmatic, choisi pour nos prochaines élections.</p>
<p>Voici l’interprétation libre de cette interview par Yves Prévaux, illustrateur. Nous avons longuement débattu avant de publier son travail. L’interprétation et la réappropriation artistique d’un contenu journalistique peuvent-elles aller aussi loin ? </p>
<p><img alt="" src="/img/ivo/page/01.png">
<img alt="" src="/img/ivo/page/02.png">
<img alt="" src="/img/ivo/page/03.png">
<img alt="" src="/img/ivo/page/04.png">
<img alt="" src="/img/ivo/page/05.png">
<img alt="" src="/img/ivo/page/06.png">
<img alt="" src="/img/ivo/page/07.png">
<img alt="" src="/img/ivo/page/08.png">
<img alt="" src="/img/ivo/page/09.png">
<img alt="" src="/img/ivo/page/10.png">
<img alt="" src="/img/ivo/page/11.png">
<img alt="" src="/img/ivo/page/12.png">
<img alt="" src="/img/ivo/page/13.png">
<img alt="" src="/img/ivo/page/14.png"></p>
<div class="directions top">
<p>La pause est terminée. Tu peux reprendre ton enquête en retournant d’où tu viens.<!-- le futur du
  passé -->.</p>
</div>
<div class="directions right">
<p>Si tu as déjà voyagé au Venezuela, croisé Hugo Chávez et Jacqueline Galant et entendu parler des montages offshore de Smartmatic, tu peux rejoindre notre <a href="#epilogue">Épilogue, page 37</a>.</p>
</div>
</article>
<!-- End of markdown2/05.03.itw-pereira.md" -->

