<!-- Begining of markdown2/06.01.bug-explique.md" -->
<article id="bug-explique">
<!--<div class="entry">MAMY</div>-->

<h1>Chez Mamy</h1>
<p>« Mug » est le mot anglais utilisé pour désigner une grande tasse à café (une jatte, si tu préfères).<br>
« Bug » signifie littéralement « punaise », du nom de ce petit insecte qui, s’il se cache sous ton lit, peut te pourrir la peau, la robe de nuit et finalement la vie.<br>
Le bug électoral, c’est la punaise de nos élections : une série de petites choses qui ont empoisonné le scrutin du 25 mai 2014 et qui, mises bout à bout, montrent à quel point les mécanismes de notre démocratie sont fragiles. </p>
<ul>
<li>
<p>La Belgique est un pays d’avant-garde. Dès 1994, certaines communes passent au vote électronique. </p>
</li>
<li>
<p>En 2000, on se rend compte que le ministère de l’Intérieur (ou SPF Intérieur) n’a plus les compétences nécessaires pour mettre en place le système informatique utilisé pour le vote électronique. Pour te dire, la cellule Élections du ministère comporte aujourd’hui à peine quatre personnes dont un seul informaticien !  </p>
</li>
<li>
<p>Le Sénat vote donc une loi confiant l’organisation du vote électronique à des firmes privées. Les mauvaises langues disent que cette loi était mal ficelée et que les sénateurs, pressés de partir en vacances, l’ont votée dans l’urgence.</p>
</li>
<li>
<p>Plusieurs firmes privées prennent donc en charge nos élections, parmi lesquelles la société Stésud, spécialisée en informatique. Des garde-fous sont quand même prévus par la loi pour surveiller leur travail : une autre firme privée, agréée par le ministère, est chargée de vérifier le système informatique et de remettre un rapport ; un Collège d’experts indépendants analysera lui aussi le système juste avant et pendant les élections ; enfin, le ministère de l’Intérieur (le fameux informaticien qui fait la cellule Élections à lui tout seul) coordonnera le processus. En 2014, alors que les élections étaient d’une importance capitale (on votait pour les scrutins européen, fédéral, régionaux et communautaires), ça a foiré à tous les étages.</p>
</li>
<li>
<p>Stésud a utilisé un système informatique datant de 1994 avec de vieilles disquettes qui auraient mérité d’être revendues en brocante. Il devait être remplacé en 2004 mais a été utilisé dix ans de plus. C’est un peu la même chose qu’avec les centrales nucléaires, si tu veux. Conséquences : en 2014, dans toutes les communes où on utilisait le système de Stésud (sauf à Verlaine dans la province de Liège), des votes ont été perdus. Au total, 2 250.</p>
</li>
<li>
<p>Le système informatique de Stésud était manifestement désuet. Dans son rapport, la firme privée chargée du contrôle, PwC (Price­waterhouse­Coopers), en avait d’ailleurs pointé les failles. Pire, selon plusieurs experts en informatique, le système utilisé pour nos élections n’était pas totalement protégé contre d’éventuelles manipulations… Mais, si la situation était si grave, pourquoi n’ont-ils pas remis un avis « bloquant » le logiciel de Stésud ? Les responsables de PwC ne peuvent malheureusement pas répondre à la question car ils sont soumis à une obligation de confidentialité. Ce qui est étonnant, c’est que c’est la société Stésud elle-même qui a choisi et payé PwC pour faire l’audit de son propre travail. Scandaleux ? Non, c’est ce que prévoit cette fameuse loi, votée en plein été.</p>
</li>
<li>
<p>Enfin, le Collège d’experts n’a rien pu faire non plus pour éviter ce drame informatique. Par manque de moyens, il était tout simplement incapable de faire correctement son travail. </p>
</li>
<li>
<p>Quant à la réponse de nos autorités, elle n’est pas plus rassurante. En Wallonie et à Bruxelles, ce sont les nouveaux élus eux-mêmes qui se chargent de valider les résultats des élections. À Bruxelles, les parlementaires ont à peine eu le temps de parcourir le rapport du Collège des experts qu’ils devaient déjà se prononcer sur la validité des élections. </p>
</li>
<li>
<p>Est-ce que cela fonctionnera mieux la prochaine fois ? Difficile à dire. C’est la société Smartmatic, une multinationale basée dans des paradis fiscaux, qui organisera nos prochains votes électroniques. Jusqu’ici, leur système a bien fonctionné mais des experts parlent d’un système déjà dépassé. Et, si l’on ne repense pas le processus de vérification, comment éviter que les problèmes ne se reproduisent ? Pour l’instant, le pire est peut-être que les politiques ne semblent pas prêts à prendre le problème à bras-le-corps. </p>
</li>
</ul>
<p>Comme tu vois, cette histoire est une suite de petits arrangements avec la démocratie qui finissent, comme les punaises, par nous trouer la peau. </p>
<div class="directions right">
<p>Si tu n’as toujours rien compris, lis notre <a href="#epilogue">Épilogue, page 37</a> ou va dormir.</p>
</div>
</article>
<!-- End of markdown2/06.01.bug-explique.md" -->

<!-- Begining of markdown2/07.01.epilogue.md" -->
<article id="epilogue">
<!--<div class="entry">CONCLUSION</div>-->

<h1>Épilogue</h1>
<p>Qui contrôle qui, finalement ? Est-ce l’homme qui contrôle les technologies qu’il déploie ? Ou est-ce l’inverse, la machine finissant par faire de l’homme « l’outil de ses outils », comme disait le poète américain Henry David Thoreau ?  </p>
<p>En mai 2014, 2 250 votes de citoyens ont été perdus suite au « bug électoral ». Un cri de colibri égaré dans l’avalanche de voix des élections, cela fait-il vraiment une différence, demanderont les relativistes ? Au décompte des sièges, non. À l’auscultation de notre appareil démocratique, oui. </p>
<p>La Belgique a été pionnière en matière de vote électronique, se lançant dans le bain digital en 1991. Neuf ans plus tard, la majorité fédérale a décidé de faire basculer l’organisation du vote dans la sphère privée. La décision s’est faite de nuit, en trombe et sans préparation réelle. </p>
<p>Une telle privatisation du système de vote pouvait déjà poser question, à l’époque. En instaurant trois garde-fous (une unité au sein du SPF Intérieur, un Collège des experts et un auditeur externe) pour contrôler le privé, l’État a tenté de se prémunir… à moitié seulement. Le SPF Intérieur a rapidement perdu son savoir-faire sur le vote électronique. Ses ressources humaines sont insuffisantes pour qu’il joue un rôle-clé. Le Collège des experts dispose, lui, de compétences techniques précises mais il est mal financé, certains de ses membres sont débordés, et il intervient souvent avec un temps de retard.</p>
<p>Quant à l’auditeur externe, PricewaterhouseCoopers, il aura joué le rôle de Janus, le dieu à deux visages, pendant la période précédant les élections. Conscient des faiblesses du code de Stésud (qui, détail surréaliste, est responsable de désigner lui-même l’auditeur de son travail), PwC a malgré tout validé le système, passant à côté du bug. </p>
<p>Mal édifiés, les gardes-fous censés rendre plus « fiable » ce glissement du vote du secteur public vers le privé auront été impuissants. Le rapport du Collège des experts sur le bug, document touffu et précis, aura été expédié en à peine une heure par le Parlement bruxellois. </p>
<p>Côté technologie, nous avons organisé nos élections avec des logiciels conçus en 1994, rafistolés et mis à jour à quelques reprises mais sans « redesign » sérieux. Une éternité dans l’univers de l’informatique, qui s’accompagne de profonds doutes sur la sécurité du système. Or, l’un des premiers arguments pour vendre « le vote électronique », c’est justement sa prétendue sécurité et son caractère moins faillible que celui de l’assesseur dominical. </p>
<p>On aurait pu attendre de Stésud (qui n’a pas répondu à nos demandes d’interview) une meilleure qualité de travail. Après tout, la société récemment absorbée par Civadis est l’une des filiales de NRB (comme Xperthis, dont Melchior Wathelet est le tout frais CEO). Il s’agit de l’un des gros bonnets belges de l’informatique, qui compte Ethias et Nethys (ex-Tecteo) parmi ses actionnaires. Mais le prestige des actionnaires n’a pas toujours une corrélation immédiate avec la qualité du code délivré. </p>
<p>Aux Pays-Bas, le vote électronique a été abandonné en 2007, culbuté dans l’oubli par un rapport implacable : insuffisamment contrôlable, ne garantissant pas le secret du vote, trop cher par rapport aux « maigres avantages » qu’il procure. En Allemagne, le tribunal constitutionnel fédéral a déclaré le vote électronique « inconstitutionnel » car le simple citoyen devait être bien trop « geek » pour pouvoir vérifier le dépouillement. En Belgique, le gouvernement a commandé une étude universitaire en 2006 pour obtenir des recommandations sur le meilleur système de vote électronique. C’est la société Smartmatic qui a remporté le marché. Selon certains experts, son code comporterait également des failles, et serait peut-être déjà obsolète. Plus inquiétant : on risque sans doute de confier pour 15 ans nos élections à une multinationale opaque, installée dans plusieurs paradis fiscaux. </p>
<p>La Flandre a malgré tout décidé de partir avec Smartmatic. Côté Wallonie, la tentation du papier renaît, mais le décompte et la transmission des résultats seront toujours électroniques.</p>
<p>Aujourd’hui et grâce au bug électronique, le risque de sous-traiter une partie d’une élection au privé apparaît clairement. Au-delà d’une dilution de la chaîne de responsabilités et de la difficulté de mettre en place des contrôles efficaces, c’est le système politique dans son ensemble qui abandonne la partie. Au profit des machines, mais aussi, au préjudice des citoyens.</p>
</article>
<!-- End of markdown2/07.01.epilogue.md" -->

<!-- Begining of markdown2/08.03.making-of.md" -->
<article id="making-of">
<h1>Code source</h1>
<p>Le « bug des élections » est un dossier technique. Nous avons longtemps
cherché une porte d’entrée pour le traiter. Nous avons notamment rencontré une
libraire pensionnée d’Auderghem engagée dans l’association PourEva (Pour une Éthique du Vote Automatisé), un élu germanophone de Vivant, parti à qui il manquait 16 voix pour gagner un siège supplémentaire (20 votes ont été annulé en communauté germanophone), et Hubert Jonet, le roi du
frais et bourgmestre de Verlaine. Nous voulions démarrer avec un portrait pour accrocher le lecteur mais
ces essais n’ont pas été concluants.</p>
<p>À coup d’écriture et de réécriture, nous avons opté pour un découpage « dont tu es le héros », qui permet au lecteur de… ne pas tout lire.</p>
<p>Quatre journalistes et l’équipe graphiste de Médor ont travaillé sur ce
dossier. Il s’agissait de proposer une enquête, de tester nos pratiques
médoriennes et d’amorcer le graphisme du magazine Médor. Deux journalistes ont accompagné le processus de création et l’équipe graphique a été associée à toutes les phases de documentation et d’écriture du projet. Deux illustrateurs
extérieurs à Médor ont également suivi le processus.</p>
<p>Ceux-ci ont été payés 250 euros pour leur contribution, tout comme les quatre
journalistes de Médor. Ces tarifs sont très en-deçà de ce que payera Médor
pour sa publication papier mais en juin 2014, nous n’avions pas prévu (et
donc budgétisé) de faire ce travail. Cette enquête rentrant dans la préparation
graphique globale de Médor (graphisme, chemin de fer, logos, convention
d’écriture,…), un budget était déjà prévu pour la création visuelle (13 000
euros) et il n’y a pas eu d’ajout pour le traitement de l’enquête.</p>
<p>L’écriture collective a généré des tensions et le rôle des marraines a été
précieux. On les surnomme depuis « les bouchères du bug ».</p>
<h1 class="region-break">Making of en chiffres</h1>
<ul>
<li>Le texte a connu 11 versions différentes.</li>
<li>4 journalistes + 2 dessinateurs = 1 500 euros</li>
<li>Le « bug » a été proposé comme contrepartie lors de notre financement participatif sur KissKissBankBank. 15
  personnes ont donc reçu ce
  texte 48 heures avant tout le monde.</li>
<li>L’enquête a démarré en novembre 2014. De ce moment à la publication, des
 auteurs sont partis en Suisse, en Royaume-Uni, en RD Congo, à Taïwan, aux Pays-Bas, au Québec, 
 aux USA et même en France. Ce qui n’a pas facilité l’avancement du
  projet.</li>
</ul>
<h1>Ours</h1>
<ul>
<li>Enquête : Olivier Bailly, David Leloup, Benjamin Moriamé et Quentin Noirfalisse </li>
<li>Graphisme : OSP (Pierre Huyghebaert, Alexandre Leray, Ludi Loiseau) — Merci à Stéphanie Vilayphiou</li>
<li>Illustration : Lucie Castel et Yves-Prévaux – Cuba–⁖ </li>
<li>Editing/boucherie : Chloé Andries et Céline Gautier </li>
<li>Correction : Jean-Pierre Borloo et Julie David de Lossy</li>
<li>Mise en page en HTML, CSS et Javascript à l’aide de l’outil osp.kitchen/tools/html2print</li>
<li>Visuels produits et/ou traités avec Inkscape.org, Gimp.org et en spécial guest l’outil de gravure de Laidout.org</li>
<li>Typographies libres : ospublish.constantvzw.org/foundry/alfphabet — github.com/Antoine-Gelgon/CareerFont — google.com/fonts/specimen/Arapey</li>
</ul>
<p>Dossier publié sous licence Creative Commons BY-NC-ND (attribution, non commercial, pas de modifications) : téléchargez, partagez ce fichier, imprimez-le et diffusez-le en mentionnant ses auteurs, sans le modifier ni l’utiliser commercialement. Voir creativecommons.org/licenses/by-nc-nd/3.0<br>
<br>
www.medor.coop/bug</p>
</article>
<!-- End of markdown2/08.03.making-of.md" -->

