<!-- Begining of markdown2/00.01.warning.md" -->
<article id="warning">
<h1>Ceci n’est pas MÉDOR</h1>
<p>Si tout va bien, le premier numéro de Médor sortira à l’automne 2015. D’ici là, nous continuons notre campagne d’abonnement et notre appel à coopérateurs, seules garanties de voir notre projet aboutir. 
Pour te faire patienter, et comme promis à nos généreux contributeurs kisskissbankbank, voici une première enquête, sur le bug des élections 2014 qui a paralysé la Belgique. </p>
<p>Ce dossier, rédigé sous forme d’une enquête dont tu es le héros, n’est pas encore Médor. Nous testons actuellement nos méthodes de travail (logiciels libres, organisation horizontale, etc.). C’est un apéro, avant d’aborder les choses sérieuses. </p>
<p>Nous te souhaitons une bonne lecture.</p>
<p><a href="https://www.medor.coop">https : //www.medor.coop</a></p>
</article>
<!-- End of markdown2/00.01.warning.md" -->

<!-- Begining of markdown2/00.02.sommaire.md" -->
<article id="sommaire">
<ol>
<li>
<p>Entrée de jeu</p>
<ol>
<li>Le bug</li>
<li>Les faits</li>
<li>Les suspects</li>
<li>L’arme du crime</li>
<li>La mécanique du bug</li>
<li>Les lieux</li>
</ol>
</li>
<li>
<p>Qui a buggé ? </p>
<ol>
<li>Système médiéval ou « erreur marginale » ?</li>
<li>Fraude possible ? </li>
<li>Contrôle bâclé ou conflit d’intérêt ? </li>
<li>Incopétence ou manque de moyen ? </li>
<li>Confidences d’un expert anonyme</li>
</ol>
</li>
<li>
<p>Pendant ce temps aux parlements</p>
<ol>
<li>Wallonie : « Cirque, mascarade, foire, saga ! »</li>
<li>Bruxelles : 15 minutes chrono</li>
</ol>
</li>
<li>
<p>Et demain</p>
<ol>
<li>Un nouveau système déjà périmé ? </li>
<li>De Hugo à Jacqueline</li>
<li>Interview piratée</li>
<li>Chez mamy</li>
<li>Épilogue</li>
</ol>
</li>
<li>Sources  </li>
</ol>
</article>
<!-- End of markdown2/00.02.sommaire.md" -->

