<!-- Begining of markdown2/02.01.intro.md" -->
<article id="intro">
<div class="directions">
<p>En intro de cette enquête dont tu es le héros, voici les lieux, les suspects et l’arme du crime. Ensuite, balade-toi dans l’enquête au gré de tes envies, selon les choix multiples qui te sont proposés. Prends garde à ne pas faire bugger ton enquête.</p>
</div>
<p>Souviens-toi. </p>
<p>Nous sommes en Belgique, le 25 mai 2014. C’est la « mère » de toutes les élections, qui rassemble les fédérales, européennes, régionales et communautaires. Tous les yeux sont braqués sur les nationalistes flamands de la N‑VA, dont le succès risque de faire chanceler l’État belge.</p>
<p>À quelques jours du vote, Étienne Van Verdegem, chef de la cellule « Élections » du ministère de l’Intérieur, rassure le Parlement fédéral : « Je suis persuadé que le 25 mai 2014, le vote électronique se déroulera sans problèmes. » Ouf.</p>
<p>Sauf que, rappelle-toi… Le bug informatique, le cafouillage monstre, les 2 250 voix perdues, la remise en cause immédiate du vote électronique. Pendant dix jours, c’est le branle-bas de combat. Le ministère de l’Intérieur regarde les sociétés privées rechercher la solution. </p>
<p>À première vue, le pourcentage de voix concernées est infime : 0,03 % de l’ensemble des électeurs inscrits dans le royaume. Mais rapporté aux électeurs votant par carte magnétique à Bruxelles et en Wallonie (un peu plus d’un million), ce pourcentage grimpe et concerne 0,21 % de ces citoyens, rappelle David Glaude, de l’association Pour une Éthique du Vote Automatisé (PourEVA). Et même si la répartition des sièges entre partis n’a pas été affectée, l’épisode « bug 2014 » questionne notre système de vote. 
Est-il encore aux mains des pouvoirs publics ? À qui confie-t-on nos élections ? Et à quel prix ? Y-a-t-il un coupable ? </p>
<p>Le professeur Olivier Pereira du département de cryptographie de l’Université catholique de Louvain (UCL), spécialiste du vote électronique, pose une bonne question : « Je voudrais trouver un autre milieu dans le domaine de l’informatique où on utilise un système mis en place il y a presque 25 ans et dont on espère encore qu’il fonctionne. »</p>
<p>Car oui, lecteur, la démocratie belge (et toi avec) est entrée dans le XXI<sup>e</sup> siècle avec… un outil du Moyen-Âge informatique : la disquette. </p>
<p>S’il a subi des petites adaptations au fil des années, le système utilisé date de 1994, soit l’année de la mort d’Ayrton Senna, de la « chanson » <em>The Rhythm of the Night</em> ou encore de l’inauguration du tunnel sous la Manche.</p>
<p>L’État belge serait-il un fan de vintage qui s’ignore ? Non, il a confié la programmation et la surveillance des systèmes informatiques de vote à des firmes privées, perdant assez vite le contrôle de la situation.</p>
</article>
<!-- End of markdown2/02.01.intro.md" -->

<!-- Begining of markdown2/02.02.timeline.md" -->
<article id="timeline">
<h1>Les faits</h1>
<dl>
<dt>1991</dt>
<dd>Premier vote électronique en Belgique, dans deux communes test : Verlaine et Waarschot. </dd>
<dt>1994</dt>
<dd>Loi fédérale étendant le vote automatisé à 20 % de la population. Mise en place de Jites/Digivote, prévus pour dix ans.</dd>
<dt>1999</dt>
<dd>Augmentation du nombre de communes utilisant le vote électronique : Bruxelles passe à 100 % . Installation d’un collège des experts (loi de décembre 1998 sur le Code électoral) pour rendre compte du déroulement du vote électronique.</dd>
<dt>2000</dt>
<dd>Délégation par l’État de l’organisation du vote électronique à des firmes privées (dont Stésud). </dd>
<dt>2004</dt>
<dd>Fin de vie théorique des systèmes de 1994.</dd>
<dt>2006</dt>
<dd>Commande par l’État de l’étude interuniversitaire BeVoting sur les systèmes de vote électronique.  </dd>
<dt>2006</dt>
<dd>Questionnements aux États-Unis : peut-on confier ses élections à des multinationales opaques, comme Smartmatic ? </dd>
<dt>2008</dt>
<dd>Marché public remporté par Smartmatic en Belgique. Durée du contrat : quinze ans.  </dd>
<dt>2012</dt>
<dd>Premières élections avec le système Smartmatic en Flandre et dans deux communes bruxelloises. Ailleurs, utilisation du système Stésud.</dd>
<dt>2014</dt>
<dd>4 avril<br>
  Audit de PwC sur le système Stésud, qui conclut que ça va fonctionner…</dd>
<dd>25 mai<br>
  Élections. Incohérences manifestes des votes de préférence avec le système Stésud. Disquettes illisibles. </dd>
<dd>26 mai<br>
  Renforts du groupe NRB (à qui appartient Stésud). Erreur détectée. </dd>
<dd>27 mai<br>
  Validation des voix de préférence. </dd>
<dd>28 mai<br>
  Nouveau bug. Erreur d’encodage manuel à Bruxelles.</dd>
<dd>30 mai<br>
  Rapport technique complet de Stésud. Découverte d’« une marge d’erreur importante » par le Collège des experts.  </dd>
<dd>1<sup>er</sup> juin<br>
  Constat : le logiciel de décryptage de Stésud bugge. Résultats plus fiables apportés par le logiciel du Collège des experts. Confirmation par Stésud.</dd>
<dd>2 juin<br>
  Constat bis : le logiciel de Stésud ne détecte pas tous les votes invalides.</dd>
<dd>5 juin<br>
  Identification de tous les votes invalides. </dd>
<dd>10 juin<br>
  Réunion des élus aux Parlements pour la validation des élections.</dd>
<dd>19 juin<br>
  Fin de la validation des élections.</dd>
</dl>
</article>
<!-- End of markdown2/02.02.timeline.md" -->

<!-- Begining of markdown2/02.03.les-acteurs.md" -->
<article id="les-acteurs">
<h1>Les suspects</h1>
<h2>Stésud</h2>
<p>C’est la société qui a produit le système de vote électronique en 1994, celui qui a buggé aux élections 2014. Active depuis 1986, Stésud fournit des solutions informatiques pour les matières électorales ou pour la comptabilité des organismes d’intérêt public. Elle a rejoint en 2013 le groupe NRB (Network Research Belgium), qui figure dans le top 3 des entreprises IT (technologie de l’information) en Belgique, avec 200 millions d’euros de chiffre d’affaires. Dans le bug, Stésud est surtout mise en cause pour la qualité de son programme, que certains protagonistes de ce dossier qualifient poétiquement de « merde ».</p>
<h2>PwC</h2>
<p>Société internationale d’expertise, de certification et d’audit, PricewaterhouseCoopers (PwC) a été choisie par Stésud pour contrôler et valider ses logiciels utilisés lors des élections 2014. À la veille du bug, PwC avait conclu « avec une assurance raisonnable, mais pas absolue » que le système Stésud allait fonctionner normalement. Jugée responsable de ne pas avoir tiré la sonnette d’alarme avant les élections, elle est souvent présentée comme la coupable idéale…</p>
<h2>L’État</h2>
<p>Dès l’année 2000, l’État décide de déléguer le vote électronique à des firmes privées, en s’appuyant sur deux mesures de protection : le Collège des experts, chargé de contrôler chaque élection, et la mise en place d’un audit du système informatique avant chaque scrutin. Dans cette affaire, l’État a manqué de moyens et a été dépassé par la technologie, jusqu’à devenir dépendant du système. Les parlements semblent quant à eux noyés dans un dossier qu’ils maîtrisaient mal. </p>
</article>
<!-- End of markdown2/02.03.les-acteurs.md" -->

<!-- Begining of markdown2/02.04.arme.md" -->
<article id="arme">
<h1>L’arme du crime</h1>
<p>Les quelques petites lignes de code branquignoles qui ont causé le bug : </p>
<pre><code>void Cand_Unselect(int_x, int_y, int_z) {
    arcMemoCandid[_x][_y][_z] = 0;
    //280613 arcMemoList[_x][_y] = 0;
    //280613 arcMemoScrutin[_x] = 0;
}
</code></pre>

<div class="directions right">
<p>Tu veux savoir qui de Stésud, de PwC ou de l’Etat belge a craqué, file au chapitre <a href="#qui">Qui a buggé ?, page 6</a>.</p>
</div>
<div class="directions right">
<p>Tu veux d’abord rire ou pleurer en lisant comment le bug a été géré dans les parlements, en Wallonie ou à Bruxelles, 
va au chapitre <a href="#parlements">Pendant ce temps aux parlements, page 14</a>.</p>
</div>
</article>
<!-- End of markdown2/02.04.arme.md" -->

<!-- Begining of markdown2/02.05.carte.md" -->
<article id="carte">
<!--<img style="width: initial! important" src="img/carte/page-carte.png" alt="" />-->

<!--Les lieux-->

<!--=======================-->

<!--(virer ce texte, faire une carte où l’on voit en couleur où on vote électronique (avec peut-être un % sorti de la carte pour chaque région. Bruxelles 100% vote électronique, Wallonie 20%, Flandre 49%). Et où on a utilisé le système qui a buggé

Pour votre info, je laisse ce texte qui doit être viré.
En Région de Bruxelles-Capitale (19 communes = 8 cantons électoraux : tout le
vote est entièrement automatisé -> 100 %).

En Région wallonne (262 communes dont 39 votent électroniquement, soit 20% des
votes)

En Région flamande (308 communes dont 143 communes, soit 49% de votes
automatisés)

Avec quel système ?

En 2014, il co-existait deux systèmes de vote automatisé :

* le système Jites (première génération, développé depuis 1994 par la société
  STESUD) a été utilisé dans 17 communes bruxelloises et dans plusieurs cantons
  en Wallonie.
* le système Smartmatic (développé par la société SMARTMATIC) a été utilisé
  dans 151 communes en Flandre et dans deux communes bruxelloises (Saint-Gilles
  et Woluwe-Saint-Pierre).

Seul le système Jites est concerné par le bug informatique.

Source : [http://www.elections.fgov.be/index.php?id=3402&no_cache=1](http://ww
w.elections.fgov.be/index.php?id=3402&no_cache=1) \+ SPF Intérieur

-->
</article>
<!-- End of markdown2/02.05.carte.md" -->

<!-- Begining of markdown2/02.05.la-mecanique.md" -->
<article id="la-mecanique">
<h1>La mécanique du bug</h1>
<p>Voici le parcours d’un électeur-type victime du bug du 25 mai 2014 : <br><br>
<img src="img/schema-bug.svg"></p>
</article>
<!-- End of markdown2/02.05.la-mecanique.md" -->

<!-- Begining of markdown2/02.06.carte.md" -->
<article id="carte">
<!--<img style="width: initial! important" src="img/carte/page-carte.png" alt="" />-->

<!--Les lieux-->

<!--=======================-->

<!--(virer ce texte, faire une carte où l’on voit en couleur où on vote électronique (avec peut-être un % sorti de la carte pour chaque région. Bruxelles 100% vote électronique, Wallonie 20%, Flandre 49%). Et où on a utilisé le système qui a buggé

Pour votre info, je laisse ce texte qui doit être viré.
En Région de Bruxelles-Capitale (19 communes = 8 cantons électoraux : tout le
vote est entièrement automatisé -> 100 %).

En Région wallonne (262 communes dont 39 votent électroniquement, soit 20% des
votes)

En Région flamande (308 communes dont 143 communes, soit 49% de votes
automatisés)

Avec quel système ?

En 2014, il co-existait deux systèmes de vote automatisé :

* le système Jites (première génération, développé depuis 1994 par la société
  STESUD) a été utilisé dans 17 communes bruxelloises et dans plusieurs cantons
  en Wallonie.
* le système Smartmatic (développé par la société SMARTMATIC) a été utilisé
  dans 151 communes en Flandre et dans deux communes bruxelloises (Saint-Gilles
  et Woluwe-Saint-Pierre).

Seul le système Jites est concerné par le bug informatique.

Source : [http://www.elections.fgov.be/index.php?id=3402&no_cache=1](http://ww
w.elections.fgov.be/index.php?id=3402&no_cache=1) \+ SPF Intérieur

-->
</article>
<!-- End of markdown2/02.06.carte.md" -->

