<!-- Begining of markdown2/04.01.validation-wallonie.md" -->
<article id="validation-wallonie">
<!--<div class="entry">VALIDATION WALLONIE</div>-->

<h1>Wallonie : « Cirque, mascarade, foire, saga ! »</h1>
<p><img class="img-wallone" src="./img/lucie/wallonie1.jpg"></p>
<p class="tranches">« Cirque, mascarade, foire, saga, mauvaise pièce, grabuge, folklore… » Ces
mots entendus entre la Meuse et la citadelle de Namur, dans les
couloirs du Parlement wallon, ces mots ne conviennent pas. Ils camouflent mal
l’ennui, le calme plat, les tracasseries et les doutes inédits qui ont
traversé, pendant trois jours, les candidats venus prêter serment, le mardi 10
juin 2014.</p>

<p><img class="img-wallone" src="./img/lucie/wallonie2.jpg"></p>
<p class="tranches">Certes, au premier jour, il y avait une ambiance de rentrée scolaire. Tout ce
petit monde se tapait dans le dos, presque détendu. Bien sûr, une certaine
tension planait, pour plusieurs raisons : la frustration du MR, écarté par
l’alliance PS-CDH, la déception d’Écolo qui a perdu beaucoup d’élus, la
première application d’une loi sur le cumul des mandats qui manque de
précision, l’arrivée d’au moins deux élus PTB… Mais personne ne s’attendait au
blocage historique qui devait suivre.</p>

<p><img class="img-wallone" src="./img/lucie/wallonie3.jpg"></p>
<p class="tranches">Tout le monde pensait prêter serment le jour-même, comme d’habitude. Mais,
d’abord, un tirage au sort est organisé pour désigner, parmi les élus
supposés, les sept qui composent la « Commission de vérification des
pouvoirs », celle qui juge de la validité des élections. Oui, un tirage au
sort, des petits papiers dans un chapeau et une « main innocente »… Ne riez
pas ! C´est la procédure et presque personne ne trouve ça bizarre.</p>

<p><img class="img-wallone" src="./img/lucie/wallonie4.jpg"></p>
<p class="tranches">Sept noms sortent du chapeau : quatre MR (majorité absolue au sein de la
commission), 1 PP, 1 PS et 1 CDH. Ces sept-là ne tomberont jamais d’accord.
Pomme de discorde : une plainte déposée par le PTB qui met en doute le
dépouillement. Oui, un bug sur le vote papier, aussi.</p>

<h2 class="region-break">Un bug papier</h2>
<p>Elle préfère rester anonyme. Car elle est enseignante, pas encore nommée.
Sophie (prénom d’emprunt) raconte : « Je ne
suis pas du PTB. J’ai des désaccords avec tous les partis. Mais j’ai observé
d’importants dysfonctionnements dans l’organisation des élections. Alors, j’ai
témoigné quand le PTB me l’a demandé ». Sophie était assesseure à Marchienne,
le 25 mai 2014. Il était presque minuit quand son travail s’est terminé.</p>
<p>Les échos des bureaux de vote indiquent presque tous
une large part d’incertitude dans la qualité et la précision du compte des
voix de chacun. « Quand on compte et recompte en fin de soirée, on n’arrive
jamais deux fois au même résultat », souligne par exemple Stéphane Hazée (chef
de file Écolo au Parlement wallon).</p>
<p>Selon Sophie, le compte se heurte aussi à des erreurs d’interprétation lors du
décompte. « J’ai vu invalider de nombreux votes au prétexte qu’ils contenaient
une rature, un dessin, une mention de soutien à un parti, une flèche ou un
trait pour bien marquer son vote », déplore-t-elle. « Ces gens-là ont exprimé
un vote sans ambiguïté et sans rendre notre boulot plus difficile, donc je ne
comprends pas qu’on n’en tienne pas compte. » </p>
<p>Les instructions de l’ex-ministre de l’Intérieur Joëlle Milquet (CDH) semblent
donner raison à Sophie. Ce document du 24 mars 2014 est toujours disponible
sur le web sous le titre « Instructions données au président du bureau
principal de canton ». Il stipule les conditions dans lesquelles un vote doit
être invalidé (injure, identification, ambiguïté, etc). Pourtant, de nombreux
bureaux ont choisi d’invalider tous les votes contenant une rature ou
un débordement. </p>
<p>Sophie n’est pourtant pas trop mal tombée. Au bureau de Garenne, les témoignages cités dans la plainte du PTB (plus d’une dizaine) rapportent que, par manque de temps, on aurait publié des résultats estimés, en fonction des votes précédents. « À l’athénée de Thuin, ajoute Sophie, des collègues enseignants m’ont dit que c’était le bazar dans les classes le lendemain des élections et que dans ce bazar, il y avait des tas de bulletins de vote. » Selon la loi, les votes doivent être transmis sous scellés au tribunal de première instance. D’autres sacs venus d’autres bureaux y sont parvenus sans les scellés garantissant leur validité. </p>
<p>
<img src="./img/ivo/penis.jpeg" style="display: block; max-width: 45%; margin-top: 5px; margin-bottom: 15px;">
</p>

<p>« Dans mon bureau, nous avons commis plusieurs erreurs d’appréciation »,
aurait dit spontanément un président de bureau lors de son audition au
Parlement wallon. C’est le ministre Willy Borsus, ex-chef de file MR au
Parlement wallon, qui le cite. « Aujourd’hui, je suis convaincu que deux
parlementaires siègent à la place de deux autres », affirme l’ex-député,
devenu ministre fédéral. En effet, un nouveau compte des voix pour
l’arrondissement de Charleroi aurait pu faire perdre un siège au PS (pour quatorze 
voix seulement) et un autre au CDH.</p>
<p>On a pu croire que les sept samouraïs, les sept « élus » tirés au sort de la
commission de validation, allaient se faire hara-kiri. Par trois fois, ils ont
remis leur décision au lendemain. Ils se sentaient « oppressés ». La presse
titrait « Toujours pas de Parlement wallon ! » et la majorité en rajoutait,
accusant la commission de créer le blocage et de « ternir l’image de la
démocratie ». Les autres futurs parlementaires se retrouvaient sans cesse sous
la verrière du Parlement pour partager leur impatience, organiser des réunions
dans les coulisses, s’échanger <em>Le Soir</em>, <em>La Libre Belgique</em> ou quelques
sarcasmes…</p>
<p>« Nous étions dans l’incompréhension », avoue Stéphane Hazée (Ecolo). « Les
nouveaux élus étaient encore plus perdus. On avait l’impression d’un gâchis ou
d’une mauvaise pièce. » Pendant ce temps, la commission auditionne des experts
et témoins. Puis le rapport a été déposé, recommandant un
nouveau compte des voix pour l’arrondissement de Charleroi. Nouveau coup de
théâtre : la majorité PS-CDH décide de s’asseoir sur l’avis de la commission
et de procéder directement au vote. La majorité vote le rejet de toutes les
plaintes.</p>
<p>Fumée noire. Mais démarrage, enfin. Le Parlement est lancé. Les écoliers
repartent penauds, après cette rentrée ratée.
C’est d’ailleurs à l’unanimité qu’ils décident de modifier la procédure de
validation des élections. La tâche incombe au président du Parlement, André
Antoine (CDH). Mais son travail, très discret, laisse encore beaucoup à
désirer.</p>
<h2>Élections 2019 et 2024 : le retour du même ? </h2>
<p>Le président de l’Assemblée, André Antoine (CDH), ne semble pas fier de son
projet. Après avoir levé pour nous un coin du voile, lors d’une discussion
improvisée, le 17 octobre 2014, il a tout fait pour en parler le minimum. Puis
a décidé de communiquer fin janvier. L’idée : à l’avenir, trois commissions au
lieu d’une, issues de trois territoires wallons (Liège, Hainaut et Namur-Luxembourg), 
valideront les élections, chaque territoire pour les autres.
L’objectif officiel : « en finir avec l’auto-validation », car aucun élu ne
voterait pour sa propre élection. Mais…</p>
<p>Cela change-t-il vraiment le problème de l’auto-validation ? Ne s’agit-il pas
toujours d’élus supposés validant les élections en juges et parties ? Peut-on
croire que les élus « probables » de Liège (par exemple) s’exprimeront « objectivement » sur la validité des élections à Mons ou ceux de Namur pour
Charleroi ? Feront-ils fi des intérêts et consignes de leur parti ? En cas de
doute, les jeunes élus oseront-ils casser la discipline de parti au risque de
ne pas être reconduits sur leur liste pour l’élection suivante ? Tout se passe
comme si les « élus » voulaient éviter à tout prix de créer un organe de
validation indépendant.</p>
</article>
<!-- End of markdown2/04.01.validation-wallonie.md" -->

<!-- Begining of markdown2/04.02.validation-bruxelles.md" -->
<article id="validation-bruxelles">
<!--<div class="entry">VALIDATION BRUXELLES</div>-->

<h1>Bruxelles : 15 minutes      chrono</h1>
<p>Le 10 juin 2014, comme au Parlement wallon, les nouveaux élus du Parlement bruxellois sont pressés de valider les élections qui les ont désignés. Sept membres sont tirés au sort pour faire partie de la « Commission de validation des opérations électorales », 4 PS, 1 cdH, 1 Ecolo et 1 VB. Hamza Fassi-Fihri (cdH) est nommé président et Mohamed Azzouzi (PS) rapporteur.</p>
<p>Leur mission est de lire le rapport du Collège des experts sur le déroulement du vote, qui leur permettra — ou non — de le valider. Rappelons quelques enseignements de ce rapport : « le SPF Intérieur était complètement dépendant de la société Stésud » et côté sécurité, « les mécanismes mis en place dans le processus électoral ne sont pas, en théorie, suffisants pour garantir la
sécurité dudit processus ».</p>
<p>Du lourd, donc.</p>
<p>Voici comment s’est passé la lecture du rapport par cette « Commission très
spéciale de validation expresse des élections bruxelloises par les élus eux-mêmes ». <br>(La suite en BD page de droite →)</p>
<!--
Ce 10 juin, la plénière est suspendue à 14h48 afin que la commission puisse lire les 50
pages du rapport, débattre, et prendre position. 1h17 plus tard, la séance
reprend. En retirant le déplacement vers un salon, une pause pipi, voire un
café, un coup de téléphone, cela fait à peine une heure de lecture et de discussions. Selon un
témoin, les élus ont mis 15 minutes pour lire le rapport. C’est un fait
exceptionnel qui n’a pas été relaté par les médias. Le rapport du Collège fait
environ 30 000 mots. Un adulte lit en moyenne 300 mots à la minute. Mais hasard
merveilleux, les 7 élus politiques tirés au sort ne sont PAS des « lecteurs
moyens », ce sont des lecteurs plus rapides que les lecteurs rapides (1500
mots/minute). Puisqu’en lisant le dossier en 15 minutes, ils ont été flashés à
2000 mots la minute. Une autre explication que nous n’oserions avancer : ils
ont bâclé la lecture du rapport.

Au final, la commission a validé les résultats, 5 voix pour et deux voix
contre. Autant dire que le politique s’assied sur le dossier jusqu’aux
prochaines élections… Vous avez dit « formalité » ?
-->

<div class="directions left">
<p>Si ce n’est déjà fait, dépêche-toi de lire <a href="#qui">Qui a buggé ?, page 6</a>.</p>
</div>
<div class="directions right">
<p>Si tu as bien ri/si tu as l’impression que la vie ne vaut plus la peine d’être vécue/si tu es Français et que tu crois que les Belges sont vraiment des rigolos, file au chapitre <a href="#demain">Et demain, page 18</a>.</p>
</div>
</article>
<!-- End of markdown2/04.02.validation-bruxelles.md" -->

