@font-face {
    font-family: 'centurycatalogue';
    src: url('fonts/century-catalogue-webfont.eot');
    src: url('fonts/century-catalogue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/century-catalogue-webfont.woff2') format('woff2'),
         url('fonts/century-catalogue-webfont.woff') format('woff'),
         url('fonts/century-catalogue-webfont.ttf') format('truetype'),
         url('fonts/century-catalogue-webfont.svg#century_catalogueroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alfphabetbipocatcondensed';
    src: url('fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('fonts/alfphabetbipocat-condensed-webfont.svg#alfphabetbipocatcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet-IV';
    src: url('fonts/Alfphabet-IV.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Career';
    src: url('fonts/Career-webfont.eot');
    src: url('fonts/Career-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Career-webfont.woff') format('woff'),
         url('fonts/Career-webfont.ttf') format('truetype'),
         url('fonts/Career-webfont.svg#career') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bagnard';
    src: url('fonts/Bagnard.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'groteskt';
    src: url('/fonts/urwgroteskt-bold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOS';
    src: url('/fonts/bitmap/Perfect DOS VGA 437 Win.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LM';
    src: url('/fonts/lmroman9-regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin-modern-mono-10';
    src: url('/fonts/lmmono10-italic-webfont.eot');
    src: url('/fonts/lmmono10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lmmono10-italic-webfont.woff2') format('woff2'),
         url('/fonts/lmmono10-italic-webfont.woff') format('woff'),
         url('/fonts/lmmono10-italic-webfont.ttf') format('truetype'),
         url('/fonts/lmmono10-italic-webfont.svg#latin_modern_mono10_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'Liberation';
    src: url('/fonts/Karmilla-Regular-011.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation';
    src: url('/fonts/Karmilla-Bold-011.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arapey';
    src: url('/fonts/arapey-italic-webfont.eot');
    src: url('/fonts/arapey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arapey-italic-webfont.woff2') format('woff2'),
         url('/fonts/arapey-italic-webfont.woff') format('woff'),
         url('/fonts/arapey-italic-webfont.ttf') format('truetype'),
         url('/fonts/arapey-italic-webfont.svg#arapeyitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arapey';
    src: url('/fonts/arapey-regular-webfont.eot');
    src: url('/fonts/arapey-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arapey-regular-webfont.woff2') format('woff2'),
         url('/fonts/arapey-regular-webfont.woff') format('woff'),
         url('/fonts/arapey-regular-webfont.ttf') format('truetype'),
         url('/fonts/arapey-regular-webfont.svg#arapeyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerminalGrotesque';
    src: url('/fonts/terminal-grotesque-webfont.eot');
    src: url('/fonts/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/terminal-grotesque-webfont.woff2') format('woff2'),
         url('/fonts/terminal-grotesque-webfont.woff') format('woff'),
         url('/fonts/terminal-grotesque-webfont.ttf') format('truetype'),
         url('/fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TerminalGrotesqueOpen';
    src: url('/fonts/terminal-grotesque_open-webfont.eot');
    src: url('/fonts/terminal-grotesque_open-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/terminal-grotesque_open-webfont.woff2') format('woff2'),
         url('/fonts/terminal-grotesque_open-webfont.woff') format('woff'),
         url('/fonts/terminal-grotesque_open-webfont.ttf') format('truetype'),
         url('/fonts/terminal-grotesque_open-webfont.svg#terminal_grotesque_openRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
