<header>
    <h1 id="titre-cover">Le jour </br>où la Belgique </br>a craqué</h1>
    <h2>Retour sur le bug électoral</h2>
</header>

<aside id="warning">
{% include 'html2/00.01.warning.html' %}.
</aside>

<!-- sommaire -->
<nav id="sommaire" class="region-break">
{% include 'html2/00.02.sommaire.html' %}.
</nav>

<div class="region-break">
{% include 'html2/01.01.intro.html' %}.
</div>


<section id="qui-a-bugge">
    <h1 class="region-break chapitre">Qui a buggé?</h1>

    <!--1. Le bug : résumé en 1000 signes le bug (1/2 p)-->
    <article id="bug-resume">
    {% include 'html2/02.01.bug-resume.html' %}
    </article>

    <!--2. Le lieu (carte) : deux lignes pour introduire la carte en insistant sur le fait que ça n'a buggé qu'en Wallonie et 2 communes à Bruxelles. -->
    <!--Prévoir légendes carte. (1/2 p)-->
    <article id="carte" class="region-break">
    {% include 'html2/02.02.carte.html' %}
    </article>

    <!--3. Les faits : ligne du temps de 1990 à 2015. Très light. (1p)-->
    <article id="timeline" class="region-break">
    {% include 'html2/02.04.timeline.html' %}
    </article>

    <div class="region-break">&nbsp;&nbsp;&nbsp;</div>
    <!--4. Les acteurs : Stésud, PWC, l’État belge 500 signes de présentation générale pour chaque, les présenter comme les principaux suspects. (1p)-->
    <article id="les-acteurs" class="region-break">
    {% include 'html2/02.03.les-acteurs.html' %}
    </article>

    <!--5. La mécanique-->
<img src="img/schema-bug.svg">
<p>Et son bulletin rejoint les votes morts sur l’autel du vote automatisé.</p>


</section>

<div class="region-break" />

    <div class="region-break">&nbsp;&nbsp;&nbsp;</div>


<section id="ce-sera-toi">
    <!-- Faire un saut de page pour chaque acteur (se retrouve ici toute l’info reprise dans les pages lampiste, fleuriste, geek, RTBF, interview SPF, interview boss RNB, explication Médor, sentinelle intérieur, sentinelle collège intérieur, anonymous, sentinelle PWC, interview PWC). -->

    <p class="suspects">1er suspect : Stésud</p>

    <!--1. STÉSUD 4000 signes-->
    <article id="stesud">
    {% include 'html2/03.01.stesud.html' %}
    </article>

    <!-- ITX Quentin Kaiser -->
    <article id="fraude-possible">
    {% include 'html2/03.02.fraude-possible.html' %}
    </article>

    <p class="suspects">2e suspect : PwC</p>

    <!--3. PWC 4000 signes-->
    <article id="pwc" class="region-break">
    {% include 'html2/03.02.pwc.html' %}
    </article>

    <p class="suspects">3e suspect : L'État belge</p>

    <!--4. L’ETAT BELGE-->
    <article id="etat-belge" class="region-break">
    {% include 'html2/03.03.etat-belge.html' %}
    </article>

    <!--5. LES CONFIDENCES D’UN EXPERT ANONYME -->
    <article id="itw-anonyme" class="region-break">
    {% include 'html2/03.04.itw-anonyme.html' %}
    </article>

    <div markdown="1" class="directions">
    - Si tu n’as toujours rien compris, rendez-vous chez Mamy.
    - Si tu veux rigoler en voyant comment le bug a ridiculisé les parlements, en Wallonie et à Bruxelles, file à la page Vaudeville.
    - Sinon, va voir ce que l’avenir nous réserve à la page Et demain
    </div>
</section>

<section id="vaudeville" class="region-break">
    <!--<h1 class="region-break chapitre">Vaudeville au parlement</h1>-->

    <!--1. WALLONIE-->
    <article id="validation-wallonie">
    {% include 'html2/04.01.validation-wallonie.html' %}
    </article>

    <!--2. BRUXELLES-->
    <article id="validation-bruxelles" class="region-break">
    {% include 'html2/04.02.validation-bruxelles.html' %}
    </article>
</section>

<section id="et-demain" >
    <h1 class="chapitre">Et demain</h1>

    <article id="futur-passe">
    {% include 'html2/05.01.futur-passe.html' %}
    </article>

    <!--1. De Hugo (Chavez) à Jacqueline (Galant)-->
    <article id="chavez-gallant" class="region-break">
    {% include 'html2/05.02.chavez-gallant.html' %}
    </article>

    <!--2. OLIVIER S’EST CHANGÉ OU L’INTERVIEW D’UN EXPERT DU VOTE ÉLECTRONIQUE-->
    <article id="itw-pereira" class="region-break">
    {% include 'html2/05.03.itw-pereira.html' %}
    </article>
</section>

<article id="bug-explique" class="region-break">
{% include 'html2/06.01.bug-explique.html' %}
</article>

<article id="epilogue" class="region-break">
{% include 'html2/07.01.epilogue.html' %}
</article>

<article id="making-of" class="region-break">
{% include 'html2/08.03.making-of.html' %}
</article>


